body{
	font-family: "寰蒋闆呴粦";
}
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index:100;
	overflow: hidden;
	display: none;
}
.popUp{
	width: 300px;
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 200px;
}
.popUp-title,.popUp-bottom{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #f7f7f7;
	position: relative;
	z-index: 1;
}
.popUp-title{
    padding-left: 10px;
}
.popUp-bottom{
	padding: 12px 0;
}
.popUp-title h3{
    color: #333;
    font-size: 16px;
}
.popUp-title .cha{
    width: 14px;
    height: 14px;
    background-image:url(../../../img/login/img/close.png);
    background-size: 100% 100%;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 2;
    cursor: pointer;
}
.popUp-content{
	height: 100px;
	text-align: center;
    color: #000;
    padding: 10px 28px;
}
.popUp-content input{
	border: 1px solid #d9d9d9;
    background-color: rgba(0,0,0,0);
    color: #999;
    margin: 5px 0;
    height: 30px;
}
.popUp-content input[type="button"]{
    width: 80px;
    height: 30px;
    background-color: #999;
    color: #fff;
    border: none;
}
.popUp-bottom button{
	width: 80px;
    padding: 0;
    border: none;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    color: #999;
    background-color: #1caae5;
    position: absolute;
}
.popUp-bottom button.sure{
	left: 50px;
	background-color: #cc1414;
	color: #fff;
}
.popUp-bottom button.cancel{
	right: 50px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
}
/*寮圭獥2-鍧愬腑璁よ瘉*/
.popUp2-wrap {
	display: block;
}
.popUp2{
	width: 500px;
}
.popUp2 .popUp-content{
	height: 200px;
	overflow: auto;
}
.popUp-content .search{
	width: 100%;
	position: relative;
}
.search input.search-name{
	width: 80%;
}
.search input.search-btn{
	background-color: #e44848;
}
.popUp-content .search-list{
	border: 1px solid #d9d9d9;
	margin: 5px 0;
}
.popUp-content .search-list li{
	border-bottom: 1px solid #d9d9d9;
	padding: 5px;
}
.popUp-content .search-list li:nth-last-child(1){
	border: none;
}
/*鐧诲綍/娉ㄥ唽鍐呭/蹇樿瀵嗙爜*/
/*.login-container,.register-container,.forgetPwd-container{
	width: 100%;
	height: 600px;
	background: url(../../../img/login/img/bg.png) no-repeat;
    background-size: cover;
    padding-top: 120px;
    position: relative;
}*/
/*鏂拌儗鏅牱寮�*/
body{
/* 	background: #F5F5F5; */
	background: #fff;
	font-family: Arial,"Microsoft YaHei","寰蒋闆呴粦";
/* 	background-image: url(../../../img/bg3.jpg); */
	background-size: 100%;
    background-repeat: no-repeat;
}
.login-container{
/*     width: 100%; */
/*    	min-height: 650px; */
/*     background: #F5F5F5; */
/*     position: relative; */
/* border: solid 1px blue; */
height: 89.4vh;
background-image: url(../../../img/bg3.jpg); 
background-size: 100% 100%;
}
.login-box-warp{
    width: 400px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
       top: 100px;
    z-index: 10;
    padding-bottom: 0px;
    margin: 0 0 0 60%;
    min-height: 350px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    filter: alpha(opacity=100);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1); 	/*鍨傜洿浣嶇疆 姘村钩浣嶇疆 妯＄硦鎴栨竻鏅板害 瀹藉害鑼冨洿 RGB棰滆壊鍊硷紝閫忔槑搴�*/
	-moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1); 	/*鍏煎FF*/
	-webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);  	/*鍏煎Chrome銆丼afari銆丱pera12+*/
}
.loginBg{
	width: 100%;
	height: 200px;
/*     background: #E44848 url(../../../img/login/img/bg.png) no-repeat; */
    position: absolute;
    top: 50%;
    margin-top: -100px;`
}
input::-webkit-input-placeholder {
    color: #ccc;
}
input:focus::-webkit-input-placeholder {
    color: #E44848;
}
/* Firefox < 19 */
input:-moz-placeholder {
    color: #ccc;
}
input:focus:-moz-placeholder {
   color: #E44848;
}
/* Firefox > 19 */
input::-moz-placeholder {
    color: #ccc;
}
input:focus::-moz-placeholder {
    color: #E44848;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #ccc;
}
input:focus:-ms-input-placeholder {
   color: #E44848;
}

input:-webkit-autofill{
	box-shadow: 0 0 0px 1000px white inset !important;
}
input:-webkit-autofill:focus{
	/*background-color: #fff7f7!important;*/
}
input.border-c{
	background-color: #fff!important;
}
.box-form-wrap input.border-c:focus{
	outline: none;
	border: 1px solid rgb(249,100,88);
	background-color: #fff7f7!important;
}
.container .box-form-wrap {
    position: relative;
    padding: 40px;
}
.container .box-form {
    position: relative;
    float: left;
}
.welcomeLog{
    font-size: 16px;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    color: #000;
    font-family: "微软雅黑";
       font-weight: normal;
}
.box-form-wrap input{
	background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #ccc;
}
.regist-box{
    font-size:14px;
    color: #999999;
    text-align: center;
}
.regist-box1{
    left: 0px;
}
.regist-box td{
    height: 50px;
    padding: 5px 0px;
    position: relative;
}
.login-container input{
	padding-left: 38px;
}
.box-form-wrap span.ico{
    position: absolute;
    left: 0;
    top: 15px;
    margin-left: 10px;
}
.regist-box td.differ{
    height:auto;
    text-align: left;
}
.regist-box tr:nth-last-child(1) td{
	/*padding-bottom: 20px;*/
	    padding-top: 30px;
}
.regist-box .t1{
    width: 115px;
    text-align: right;
    padding-right: 7px;
}
.regist-box .t2{
    width: 321px;
    text-indent: 0;
}
.regist-box .t3{
    color: red;
    font-size: 12px;
    font-weight: 100;
}
.regist-box span{
    color: #999999;
}
.regist-box .role{
    font-size: 12px;
    color: #999999;
}
.regist-box a{
    color: #999999;
}
.regist-box .check{
    display: inline-block;
    margin-top:-2px;
}
.regist-box input[type='button']{
    height: 40px;
    border: 1px solid #e44848;
    background-color: #fff;
    color: #e44848;
    padding: 5px;
    width: 96px;
    text-align: center;
    border-radius: 0px
}
.ipt-lg{
    width: 242px;
}

#sub-bt,#rg_bt,#sub-fwd2,#relogin-bt{
    width: 100%;
    height: 40px;
    background-color: rgb(247,98,89);
    border: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 3px;
    border-radius: 3px;
    margin-top:0px;
    font-size:14px;
    font-family: "寰蒋闆呴粦";
}
#sub-bt:hover,#rg_bt:hover,#sub-fwd2:hover,#relogin-bt:hover{
    background-color: #9a0000;
}
#rg_bt{
    background-color: #ffffff;
    color: #99999B;
    border: 1px solid #E6E6E6;
}
#codeImage{
    width : 130px;
    height : 40px;
    display: inline-block;
    vertical-align : bottom;
    border : none;
    background-color : #DFDFDF;
    cursor : pointer;
    color: #999999;
    font-size: 14px;
    text-align: center;
}
#regcheckcode,#verificationCode{
    width: 178px;
}
#ActhCodeDate{
	width : 130px;
    height : 40px;
}
#verificationCode-wrap{
	display: none;
}
/*鐧诲綍*/
.header-nav .logo a:hover{
	border: none;
	text-underline: none;
}
.header .logo .logoImg{
	cursor: auto;
}
/*娉ㄥ唽*/
.font-12{
    font-size:12px !important;
}
.greenBlue{
    color: #4f91cb !important;
}


/*浠诲姟澶у巺*/
.box-warp{
	min-height: 240px;
	margin-top: 60px;
}
.complete-text{
	text-align: center;
	margin: 20px 0 40px;
}
.zbj-grid {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.zbj-grid:before, .zbj-grid:after {
    display: table;
    line-height: 0;
    content: "";
}
.commonRedShow{color:red;height:20px;position:relative;text-align: left;line-height:18px}



/*.header{
    margin: 0px auto;
    width:340px;
    height: 76px;
    padding-top:30px;
    background: url("../../../image/common/logo_sm.png") no-repeat 0px 21px;
}*/
/*.header h3{
    margin-left:59px;
    color: #f0a604;
    font-weight: bold;
}
.main{
    background: url("../../../image/public/reg/bg_02.png") no-repeat -51px -25px;
    min-height: 589px;
    width: inherit;
    position: relative;
}
.main h3{
    color: #1b7cc0;
    position: absolute;
    left: 40px;
    top: 44px;
    font-weight: bolder;
    z-index: 100;
    font-size: 24px;
}
.ident_container .box-form-wrap input{
	border-radius: 0;
	background-color: #fff;
}
.ident_container{
	position: relative;
	padding-top: 150px;
}
.ident_container .box-warp{
	padding: 0;
	min-height: auto;
}
.ident_container .box-form-wrap span.ico{
	left: 88%;
	top: 10px;
	cursor: pointer;
}
.bt_tips{
    position: absolute;
    left: 611px;
    top:423px;
}
#fgt_pwd{
    width:100%;
    height: 18px;
    text-align: right;
    font-size:12px;
    font-weight: 100;
}

.downloadOcx{
    display: inline-block;
    background: url(../../../image/common/ocxDownload.gif) 0px 8px no-repeat;
    padding-right:30px;
    height:30px;
    line-height: 30px;
}
.userloginOcx {
    padding: 10px 0;
    text-align: center;
}
.userloginOcx a{padding-left:30px;height:35px;line-height:35px;font-size: 12px;color: #4f91cb;}

.fn-login-cont{
    font-size: 12px;
    margin-top: 20px;
    padding-bottom: 15px;
}
.fn-login-cont a, .fn-login-cont a:hover{
    color: #4f91cb;
}

#check-code-content{
    height : 46px;
    margin-top : 0px;
}
#tips-content pre{
    font-family: microsoft yahei;
    color: rgb(51, 51, 51);
    line-height: 30px;
}

#identity {
    border: solid 1px #e5e5e5;
    width: 100%;
    height: 40px;
    border-radius: 0px;
}
.edit-content-box{
    background: #f9f9f9;
    width: 100%;

}
.edit-content-box p{
    text-align: center;
    font-size: 14px;
    line-height: 5.8;
    margin:0;
}
.edit-content-box tr{
    height: 49px;
}
.edit-content-box .t1{
    text-align: right;
}
.edit-content-box .t2{
    padding-left:5px;
}
.edit-content-box input[type=radio]{
    margin:0;
}
.edit-content-box table{
    width: 450px;
    margin:0px auto;
}
.edit-content-box span{
    color: red;
}
.edit-content-box select{
    display: inline-block;
    height: 32px;
    width: 100px;
}

#login_msg_div label.error {
    color: Red;
    left: 0px;
    top: 0px;
    display: inline-block !important;
    font-size: 14px;
    width: 260px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left:20px;
    background: url("../../../image/agent/exclamark.png") 0 1px no-repeat;
}
.positRela{
    position: relative;
}
.placeholder{display: block;position: absolute;top:17px;left: 10px;height:0;}
.pos-rel{position: relative;}*/



/*鍗曚綅璁よ瘉*/
.ident-search{
	border-bottom: 1px solid  #eeeeee;
}
.search-list li{
	padding: 10px;
}
.search-list li:hover,.search-list li.active{
	background-color: #f5f5f5;
}


/*浠诲姟澶у巺/浠诲姟璇︽儏/鍧愬腑涓績*/
.task-container,.taskDeta-container,.seatCore-container{
	width: 100%;
	background-color: #ededed;
	padding: 10px 0;
}
.task-box-warp,.taskDeta-box-warp,.seatCore-box-warp{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
.sidebar-left{
	width: 900px;
    padding-right: 10px;
    background-color: #eee;
}
.sidebar-left-title,.sidebar-title{
	margin-bottom: 10px;
	background-color: #fff;
	padding-bottom: 20px;
}
.sidebar-left .sidebar-left-search{
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 20px;
}
.sidebar-left-search input.search-text{
	width: 80%;
	height: 30px;
	line-height: 30px;
	left: 0;
	margin-right: 34px;
	background-color: #fff;
	border: 1px solid #ededed;
}
.sidebar-left-search input.search-btn{
	width: 16%;
	height: 30px;
	line-height: 30px;
	right: 0;
	background-color: #cc1414;
	color: #fff;
	border: none;
}
.sidebar-right{
	width: 290px;
	background-color: #fff;
	margin-left: 10px;
}
.sidebar-left-nav{
	border: 1px solid #eee;
	margin: 0 20px;
}
.sidebar-left-nav .sidebar-nav-key{
	width: 100px;
    padding: 10px 0;
    text-align: center;
	background-color: #f7f7f7;
	color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar-left-nav ul li{
	color: #333;
	padding: 10px;
}
.sidebar-left-nav .left-nav-title{
	position: relative;
}
.sidebar-left-nav .left-nav-title:nth-child(1){
	border-bottom: 1px solid #eee;
	background-color: #f7f7f7;
}
.left-nav-title .two-level-list{
	border-top: 1px solid #eee;
}
.left-nav-title ul,.sidebar-left-list{
	background-color: #fff;
}
.left-nav-title ul{
	margin-left: 100px;
}
.sidebar-list-nav{
    height: 34px;
    margin-right: 20px;
}
.sidebar-left-list{
	border-bottom: 1px solid #eee;
}
.sidebar-left-list li{
	line-height: 20px;
    padding: 7px 12px;
    border-right: 1px solid #ebebeb;
}
.sidebar-left-list .dropdown-list li{
	border-right:none;
}
.sidebar-list-nav li.now{
	background: #fff;
    position: relative;
    margin-bottom: -2px;
    padding-bottom: 8px;
    border-top: 2px solid #cc1414;
    top: -2px;
}
.sidebar-list-nav a:hover{
	text-decoration: none;
}
.sidebar-list-nav span {
    position: relative;
    cursor: pointer;
    /*padding-right: 16px;*/
}
.sidebar-content{
	background-color: #fff;
}
.sidebar-content-list li{
	padding: 10px 20px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}
.sidebar-content-list li th{
	padding: 10px 0;
}
.sidebar-content-list li td{
	padding: 5px 0;
}
.sidebar-left-list .icon-up-down{
	position: relative;
	top: -3px;
	left: 5px;
}

/*浠诲姟璇︽儏*/
.sidebar-title-wrap{
    background-color: #eee;
    padding-bottom: 1px;
    position: relative;
}
.sidebar-title{
	padding: 20px;
}
.sidebar-title li{
	padding: 5px 0;
}
.sidebar-title li a{
	color: #cc1414;
}
.sidebar-title li a{
	color: #cc1414;
}
.sidebar-title button{
	background-color: #cc1414;
	color: #fff;
	margin: 50px;
}

/*鍟嗗搧淇℃伅*//*璇濇湳淇℃伅*/
.commodity-info,.speech-info{
	padding: 30px;
}
.commodity-info td,.commodity-info th,.speech-info td,.speech-info th{
	border: 1px solid #eee;
	padding: 5px;
}
.commodity-info th,.speech-info th{
	background-color: #cc1414;
	color: #fff;
}

/*鍧愬腑涓績*/
.left-nav-box{
	background-color: #fff;
	text-align: center;
}
.left-nav-box .nav-list{
	text-align: left;
	text-indent: 2em;
	/*padding-left: 20px;*/
}
.left-nav-box h2{
	padding: 10px;
}
.left-nav-box .nav-list li{
    line-height: 30px;
	border-bottom: 1px solid #eee;
}
.left-nav-box .nav-list .submenu {
	background-color: #f7f7f7;
	padding-left: 24px;
	/*display: none;*/
}
.left-nav-box .nav-list .submenu li{
	border-bottom: none;
}
.seatCore-container .sidebar-left{
	width: 280px;
	padding-right: 0;
}
.seatCore-container .sidebar-right{
	width: 910px;
	background-color: #EDEDED;
	margin-left: -10px;
}
.sidebar-right-box{
	background-color: #fff;
    margin-left: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.sidebar-right .title{
    padding: 10px 0;
}
.sidebar-right button{
	padding: 5px 20px;
}
.sidebar-right button.edit-btn{
	background-color: #cc1414;
	color: #fff;
}
.info-list li button{
    margin-top: -5px;
    margin-left: 15px;
}
.pf-avatar{
	margin-right: 20px;
}
.info-list li{
	padding: 5px 0;
    margin: 5px 0;
	/*height: 30px;*/
}
.info-list li div{
	margin-right: 30px;
}
.sidebar-right-bottom{
	border-top: 1px solid #eee;
	margin: 20px 0;
}

/*瀹炲悕淇℃伅缂栬緫*/
.info-list li span.label{
	margin-right: 5px;
	/*width: 60px;*/
}
.info-list input,.info-list select{
    width: 140px;
    height: 30px;
    margin-top: -5px;
    background-color: #fff;
    border: 1px solid #eee;
}
.info-list .sex,.info-list .age{
	width: 80px;
}
.info-list .status{
    width: 200px;
}
#realnameInfoAfter{
	position: relative;
}
#realnameInfoAfter .tip{
	position: absolute;
    right: 20px;
    bottom: 0px;
    background-color: yellow;
    width: 200px;
    height: 50px;
    padding: 10px;
}
#realnameInfoAfter .info-list li,#basicInfoInfoAfter .info-list li{
	  margin: 0;
}

/*鍩烘湰淇℃伅缂栬緫*/
.address select{
	width: 80px;
}
.address-detail textarea{
    margin: 5px 0;
    margin-left: 65px;
    width: 247px;
    height: 30px;
    border-radius: 0;
}
.ofdeoijd{
/* 	width: 30vh; */
/*     margin-top: 2vh; */
/*     margin-left: 5vh; */
	width: auto;
	margin-top: 12px;
}
.layui-layer-border.layui-layer-msg.toasts{
	    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    background-color: rgba(0,0,0,.6);
    color: #fff;
    border: none;
    position: fixed;
}