<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeGoodsMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="product_cover_url" jdbcType="VARCHAR" property="productCoverUrl" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="is_have_shop" jdbcType="VARCHAR" property="isHaveShop" />
    <result column="goods_url" jdbcType="VARCHAR" property="goodsUrl" />
    <result column="goods_explain_img" jdbcType="VARCHAR" property="goodsExplainImg" />
    <result column="goods_parcel_price" jdbcType="INTEGER" property="goodsParcelPrice" />
    <result column="needed_ad_fee" jdbcType="INTEGER" property="neededAdFee" />
    <result column="goods_release_num" jdbcType="INTEGER" property="goodsReleaseNum" />
    <result column="goods_surplus_num" jdbcType="INTEGER" property="goodsSurplusNum" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    a.id, a.member_account, a.product_cover_url, a.goods_desc, a.is_have_shop, a.goods_url, a.goods_explain_img,
    a.goods_parcel_price, a.needed_ad_fee, a.goods_release_num, a.goods_surplus_num, a.goods_type_id,
    a.goods_status, a.audit_opinion, a.crt_time
  </sql>

  <!-- 免费兑换商品列表 -->
  <select id="queryFreeGoodsList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />,
      b.wallet_balance AS walletBalance,
      b.advertising_fee AS advertisingFee,
      IFNULL(b.head_img_url, '') AS headImgUrl,
      IFNULL(b.nickname, b.member_account) AS nickname,
      c.member_account AS shareMemberAccount,
      d.business_type AS businessType,
      (SELECT COUNT(1) FROM zx_app_goods_view_count s WHERE s.zx_goods_id = a.id) AS followNum
    FROM zx_app_free_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="goodsDesc != null and goodsDesc !=''">
        AND a.goods_desc LIKE CONCAT('%',#{goodsDesc},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 免费兑换列表统计 -->
  <select id="queryFreeGoodsCount" parameterType="java.lang.Long" resultType="int">
    SELECT
      COUNT(1)
    FROM zx_app_free_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="goodsDesc != null and goodsDesc !=''">
        AND a.goods_desc LIKE CONCAT('%',#{goodsDesc},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zx_app_free_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 免费兑换商品新增 -->
  <insert id="saveFreeGoodsInfo" parameterType="java.util.Map">
    insert into zx_app_free_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="productCoverUrl != null">
        product_cover_url,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="isHaveShop != null">
        is_have_shop,
      </if>
      <if test="goodsUrl != null">
        goods_url,
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img,
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price,
      </if>
      <if test="neededAdFee != null">
        needed_ad_fee,
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num,
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
      <if test="auditOpinion != null">
        audit_opinion,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="neededAdFee != null">
        #{neededAdFee,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
        NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_free_goods
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        product_cover_url = #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        is_have_shop = #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        goods_url = #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img = #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price = #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="neededAdFee != null">
        needed_ad_fee = #{neededAdFee,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num = #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 查询零元秒杀商品详情 -->
  <select id="queryFreeGoodsDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zx_app_free_goods a
    where a.id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 免费兑换更改商品数量 -->
  <update id="updateFreeGoodsNum" parameterType="java.util.Map">
    update zx_app_free_goods
    <set>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 修改免费兑换商品审核状态 -->
  <update id="authFreeGoodsInfo" parameterType="java.util.Map">
    update zx_app_free_goods
    <set>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 免费兑换我的发布 -->
  <select id="queryMyReleaseGoodsList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.id AS id,
        a.member_account AS memberAccount,
        a.product_cover_url AS productCoverUrl,
        a.goods_desc AS goodsDesc,
        a.is_have_shop AS isHaveShop,
        a.goods_url AS goodsUrl,
        a.goods_explain_img AS goodsExplainImg,
        a.goods_parcel_price AS goodsParcelPrice,
        a.needed_ad_fee AS neededAdFee,
        a.goods_release_num AS goodsReleaseNum,
        a.goods_surplus_num AS goodsSurplusNum,
        a.goods_type_id AS goodsTypeId,
        a.goods_status AS goodsStatus,
        a.audit_opinion AS auditOpinion,
        DATE_FORMAT(a.crt_time, '%Y年%m月%d日') AS crtTime,
        a.crt_time AS releaseTime,
        '1002' AS goodsType,
        IFNULL(b.head_img_url, '') AS headImgUrl,
        IFNULL(b.nickname, b.member_account) AS nickname,
        (SELECT COUNT(1) FROM zx_app_goods_view_count s WHERE s.zx_goods_id = a.id) AS followNum,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1001') AS deliverGoods,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1002') AS shippedStatus,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1003') AS receivedGoods
    FROM zx_app_free_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status IN (${goodsStatus})
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
</mapper>