<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LuckyGoodsMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="product_cover_url" jdbcType="VARCHAR" property="productCoverUrl" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="is_have_shop" jdbcType="VARCHAR" property="isHaveShop" />
    <result column="goods_url" jdbcType="VARCHAR" property="goodsUrl" />
    <result column="goods_explain_img" jdbcType="VARCHAR" property="goodsExplainImg" />
    <result column="goods_parcel_price" jdbcType="INTEGER" property="goodsParcelPrice" />
    <result column="goods_market_price" jdbcType="INTEGER" property="goodsMarketPrice" />
    <result column="goods_release_num" jdbcType="INTEGER" property="goodsReleaseNum" />
    <result column="goods_surplus_num" jdbcType="INTEGER" property="goodsSurplusNum" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    a.id, a.member_account, a.product_cover_url, a.goods_desc, a.is_have_shop, a.goods_url, a.goods_explain_img,
    a.goods_parcel_price, a.goods_market_price, a.goods_release_num, a.goods_surplus_num, a.goods_type_id,
    a.goods_status, a.crt_time
  </sql>

  <!-- 查询幸运购物列表 -->
  <select id="queryLuckyGoodsList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />,
      b.wallet_balance AS walletBalance,
      b.advertising_fee AS advertisingFee,
      IFNULL(b.head_img_url, '') AS headImgUrl,
      IFNULL(b.nickname, b.member_account) AS nickname,
      c.member_account AS shareMemberAccount,
      d.business_type AS businessType,
      (SELECT COUNT(1) FROM zx_app_goods_view_count s WHERE s.zx_goods_id = a.id) AS followNum
    FROM zx_app_lucky_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="goodsDesc != null and goodsDesc !=''">
        AND a.goods_desc LIKE CONCAT('%',#{goodsDesc},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 查询幸运购物列表 -->
  <select id="queryLuckyGoodsCount" parameterType="java.util.Map" resultType="int">
    SELECT
        COUNT(1)
    FROM zx_app_lucky_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="goodsDesc != null and goodsDesc !=''">
        AND a.goods_desc LIKE CONCAT('%',#{goodsDesc},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
  </select>

  <!-- 查询幸运购物详情 -->
  <select id="queryLuckyGoodsDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_lucky_goods a
    where a.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Map">
    delete from zx_app_lucky_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 幸运购物新增 -->
  <insert id="saveLuckyGoodsInfo" parameterType="java.util.Map">
    insert into zx_app_lucky_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="productCoverUrl != null">
        product_cover_url,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="isHaveShop != null">
        is_have_shop,
      </if>
      <if test="goodsUrl != null">
        goods_url,
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img,
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price,
      </if>
      <if test="goodsMarketPrice != null">
        goods_market_price,
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num,
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsMarketPrice != null">
        #{goodsMarketPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
       NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_lucky_goods
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        product_cover_url = #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        is_have_shop = #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        goods_url = #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img = #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price = #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsMarketPrice != null">
        goods_market_price = #{goodsMarketPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num = #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 免费兑换更改商品数量 -->
  <update id="updateLuckyGoodsNum" parameterType="java.util.Map">
    update zx_app_lucky_goods
    <set>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询幸运购物我的发布 -->
  <select id="queryMyReleaseGoodsList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.id AS id,
        a.member_account AS memberAccount,
        a.product_cover_url AS productCoverUrl,
        a.goods_desc AS goodsDesc,
        a.is_have_shop AS isHaveShop,
        a.goods_url AS goodsUrl,
        a.goods_explain_img AS goodsExplainImg,
        a.goods_parcel_price AS goodsParcelPrice,
        a.goods_market_price AS goodsMarketPrice,
        a.goods_release_num AS goodsReleaseNum,
        a.goods_surplus_num AS goodsSurplusNum,
        a.goods_type_id AS goodsTypeId,
        a.goods_status AS goodsStatus,
        a.audit_opinion AS auditOpinion,
        DATE_FORMAT(a.crt_time, '%Y年%m月%d日') AS crtTime,
        a.crt_time AS releaseTime,
        '1003' AS goodsType,
        IFNULL(b.head_img_url, '') AS headImgUrl,
        IFNULL(b.nickname, b.member_account) AS nickname,
        (SELECT COUNT(1) FROM zx_app_goods_view_count s WHERE s.zx_goods_id = a.id) AS followNum,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1001') AS deliverGoods,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1002') AS shippedStatus,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1003') AS receivedGoods
    FROM zx_app_lucky_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status IN (${goodsStatus})
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
        AND goods_status != '1003'
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 修改幸运购物审核状态 -->
  <update id="authLuckyGoodsInfo" parameterType="java.util.Map">
    update zx_app_lucky_goods
    <set>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询幸运序号最大值 -->
  <select id="queryPartakeFreeSheetAct" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT
	    SUM( lucky_number ) AS orderNum, COUNT( 1 ) AS peopleTotal
    FROM
        `zx_app_free_sheet_info`
    WHERE seat_num = #{seatNum}
  </select>

  <!-- 免单活动查询一人 -->
  <select id="queryPartakeFreeSheetOne" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        seat_num as seatNum,
        buy_member_account as memberAccount,
        lucky_number as luckyNumber,
        lucky_order_number as luckyOrderNumber,
        goods_luck_star as goodsLuckStar,
        shopping_amount as shoppingAmount,
        activity_type as activityType,
        crt_time as crtTime
    FROM
    zx_app_free_sheet_info
    <where>
      seat_num = #{seatNum}
    </where>
    ORDER BY crt_time DESC
    LIMIT 1
  </select>

  <!-- 免单活动查询详情 -->
  <select id="queryPartakeFreeSheetDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id as id,
      a.seat_num as seatNum,
      a.buy_member_account as memberAccount,
      a.lucky_number as luckyNumber,
      a.lucky_order_number as luckyOrderNumber,
      a.goods_luck_star as goodsLuckStar,
      a.shopping_amount as shoppingAmount,
      a.activity_type as activityType,
      a.crt_time as crtTime,
      b.head_img_url AS headImgUrl,
      IFNULL(b.nickname,b.member_account) AS nickname
    FROM
    zx_app_free_sheet_info a
    LEFT JOIN t_member b ON a.buy_member_account = b.member_account
    <where>
      <if test="seatNum != null and seatNum != ''">
        a.seat_num = #{seatNum}
      </if>
      <if test="luckyMan != null and luckyMan != ''">
        AND a.lucky_order_number = #{luckyMan}
      </if>
    </where>
  </select>

  <update id="updateGoodsLuckStar" parameterType="java.util.Map">
    update zx_app_free_sheet_info
    <set>
      <if test="goodsLuckStar != null and goodsLuckStar != ''">
        goods_luck_star = #{goodsLuckStar,jdbcType=INTEGER},
      </if>
      <if test="activityType != null and activityType != ''">
        activity_type = #{activityType,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <if test="seatNum != null and seatNum != ''">
        AND seat_num = #{seatNum}
      </if>
    </where>
  </update>

  <!-- 免单活动查询列表 -->
  <select id="queryPartakeFreeSheetList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id as id,
      a.seat_num as seatNum,
      a.buy_member_account as memberAccount,
      a.lucky_number as luckyNumber,
      a.lucky_order_number as luckyOrderNumber,
      a.goods_luck_star as goodsLuckStar,
      a.shopping_amount as shoppingAmount,
      a.activity_type as activityType,
      a.crt_time as crtTime,
      IFNULL(b.head_img_url, '') AS headImgUrl,
      IFNULL(b.nickname,b.member_account) AS nickname
    FROM
    zx_app_free_sheet_info a
    LEFT JOIN t_member b ON a.buy_member_account = b.member_account
    <where>
      <if test="seatNum != null and seatNum != ''">
        a.seat_num = #{seatNum}
      </if>
      <if test="shoppingAmount != null and shoppingAmount != ''">
        AND a.shopping_amount = #{shoppingAmount}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <select id="queryPartakeFreeSheetCount" parameterType="java.util.Map" resultType="int">
    SELECT
        COUNT(1)
    FROM
    zx_app_free_sheet_info a
    LEFT JOIN t_member b ON a.buy_member_account = b.member_account
    <where>
      <if test="seatNum != null and seatNum != ''">
        a.seat_num = #{seatNum}
      </if>
      <if test="shoppingAmount != null and shoppingAmount != ''">
        AND a.shopping_amount = #{shoppingAmount}
      </if>
    </where>
  </select>

  <!-- 免单活动查询参与详情 -->
  <select id="queryPartakeFreeSheetListDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
    a.id as id,
    a.seat_num as seatNum,
    a.buy_member_account as memberAccount,
    a.lucky_number as luckyNumber,
    a.lucky_order_number as luckyOrderNumber,
    a.goods_luck_star as goodsLuckStar,
    a.shopping_amount as shoppingAmount,
    a.activity_type as activityType,
    DATE_FORMAT(a.crt_time, '%m月%d日 %H:%i') as crtTime,
    IFNULL(b.head_img_url, '') AS headImgUrl,
    IFNULL(b.nickname,b.member_account) AS nickname
    FROM
    zx_app_free_sheet_info a
    LEFT JOIN t_member b ON a.buy_member_account = b.member_account
    <where>
      <if test="seatNum != null and seatNum != ''">
        a.seat_num = #{seatNum}
      </if>
      <if test="shoppingAmount != null and shoppingAmount != ''">
        AND a.shopping_amount = #{shoppingAmount}
      </if>
    </where>
    ORDER BY a.lucky_order_number ASC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 免单活动新增 -->
  <insert id="partakeFreeSheetAct" parameterType="java.util.Map">
    insert into zx_app_free_sheet_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seatNum != null">
        seat_num,
      </if>
      <if test="memberAccount != null">
        buy_member_account,
      </if>
      <if test="luckyNumber != null">
        lucky_number,
      </if>
      <if test="luckyOrderNumber != null">
        lucky_order_number,
      </if>
      <if test="shoppingAmount != null">
        shopping_amount,
      </if>
      <if test="activityType != null">
        activity_type,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="seatNum != null">
        #{seatNum,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="luckyNumber != null">
        #{luckyNumber,jdbcType=VARCHAR},
      </if>
      <if test="luckyOrderNumber != null">
        #{luckyOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="shoppingAmount != null">
        #{shoppingAmount,jdbcType=DECIMAL},
      </if>
      <if test="activityType != null">
        #{activityType,jdbcType=VARCHAR},
      </if>
        NOW(),
    </trim>
  </insert>

  <!-- 幸运榜幸运购物列表 -->
  <select id="queryLuckyList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id as id,
      a.seat_num as seatNum,
      a.buy_member_account as memberAccount,
      a.lucky_number as luckyNumber,
      a.lucky_order_number as luckyOrderNumber,
      a.goods_luck_star as goodsLuckStar,
      a.shopping_amount as shoppingAmount,
      a.activity_type as activityType,
      DATE_FORMAT(a.crt_time, '%Y年%m月%d日') as crtTime,
      IFNULL(b.head_img_url, '') AS headImgUrl,
      IFNULL(b.nickname,b.member_account) AS nickname
    FROM
    zx_app_free_sheet_info a
    LEFT JOIN t_member b ON a.buy_member_account = b.member_account
    <where>
      a.goods_luck_star = 1
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 幸运榜幸运购物列表 -->
  <select id="queryLuckyCount" parameterType="java.util.Map" resultType="int">
    SELECT
      COUNT(1)
    FROM
    zx_app_free_sheet_info a
    LEFT JOIN t_member b ON a.buy_member_account = b.member_account
    <where>
      a.goods_luck_star = 1
    </where>
  </select>

  <!-- 参与详情头部展示 -->
  <select id="queryPartakeHeadInfo" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.lucky_order_number AS luckyOrderNumber,
        (SELECT COUNT(1) FROM zx_app_free_sheet_info b WHERE b.seat_num = #{seatNum}) AS partakeNumber,
        (SELECT SUM(b.lucky_number) FROM zx_app_free_sheet_info b WHERE b.seat_num = #{seatNum}) AS luckyNumber
    FROM
        zx_app_free_sheet_info a
    WHERE a.seat_num = #{seatNum} AND a.goods_luck_star = 1
  </select>

  <!-- 查询是否坐下 -->
  <select id="querySeatTotal" parameterType="java.util.Map" resultType="int">
    SELECT
      COUNT(1)
    FROM
    zx_app_free_sheet_info a
    <where>
      <if test="seatNum != null and seatNum != ''">
        a.seat_num = #{seatNum}
      </if>
      <if test="memberAccount != null and memberAccount != ''">
        AND a.buy_member_account = #{memberAccount}
      </if>
    </where>
  </select>

</mapper>