<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LuckyGoodsMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="product_cover_url" jdbcType="VARCHAR" property="productCoverUrl" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="is_have_shop" jdbcType="VARCHAR" property="isHaveShop" />
    <result column="goods_url" jdbcType="VARCHAR" property="goodsUrl" />
    <result column="goods_explain_img" jdbcType="VARCHAR" property="goodsExplainImg" />
    <result column="goods_parcel_price" jdbcType="INTEGER" property="goodsParcelPrice" />
    <result column="goods_market_price" jdbcType="INTEGER" property="goodsMarketPrice" />
    <result column="goods_market_price" jdbcType="INTEGER" property="goodsMarketPrice" />
    <result column="goods_release_num" jdbcType="INTEGER" property="goodsReleaseNum" />
    <result column="goods_surplus_num" jdbcType="INTEGER" property="goodsSurplusNum" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    a.id, a.member_account, a.product_cover_url, a.goods_desc, a.is_have_shop, a.goods_url, a.goods_explain_img,
    a.goods_parcel_price, a.goods_market_price, a.goods_release_num, a.goods_surplus_num, a.goods_type_id,
    a.goods_status, a.crt_time
  </sql>

  <!-- 查询幸运购物列表 -->
  <select id="queryLuckyGoodsList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />,
      b.wallet_balance AS walletBalance,
      b.advertising_fee AS advertisingFee,
      c.member_account AS shareMemberAccount,
      d.business_type AS businessType
    FROM zx_app_lucky_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 查询幸运购物列表 -->
  <select id="queryLuckyGoodsCount" parameterType="java.util.Map" resultType="int">
    SELECT
        COUNT(1)
    FROM zx_app_lucky_goods a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
  </select>

  <!-- 查询幸运购物详情 -->
  <select id="queryLuckyGoodsDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_lucky_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Map">
    delete from zx_app_lucky_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 幸运购物新增 -->
  <insert id="saveLuckyGoodsInfo" parameterType="java.util.Map">
    insert into zx_app_lucky_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="productCoverUrl != null">
        product_cover_url,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="isHaveShop != null">
        is_have_shop,
      </if>
      <if test="goodsUrl != null">
        goods_url,
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img,
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price,
      </if>
      <if test="goodsMarketPrice != null">
        goods_market_price,
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num,
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsMarketPrice != null">
        #{goodsMarketPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
       NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_lucky_goods
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        product_cover_url = #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        is_have_shop = #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        goods_url = #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img = #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price = #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsMarketPrice != null">
        goods_market_price = #{goodsMarketPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num = #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 免费兑换更改商品数量 -->
  <update id="updateLuckyGoodsNum" parameterType="java.util.Map">
    update zx_app_lucky_goods
    <set>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询幸运购物我的发布 -->
  <select id="queryMyReleaseGoodsList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List" />,
        '1003' AS goodsType,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1001') AS dReleaseGoods
    FROM zx_app_lucky_goods a
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 修改幸运购物审核状态 -->
  <update id="authLuckyGoodsInfo" parameterType="java.util.Map">
    update zx_app_lucky_goods
    <set>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>