<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderInfoMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="send_goods_account" jdbcType="VARCHAR" property="sendGoodsAccount" />
    <result column="consig_goods_account" jdbcType="VARCHAR" property="consigGoodsAccount" />
    <result column="consig_name" jdbcType="VARCHAR" property="consigName" />
    <result column="consig_name_phone" jdbcType="VARCHAR" property="consigNamePhone" />
    <result column="consig_address" jdbcType="VARCHAR" property="consigAddress" />
    <result column="express_name" jdbcType="VARCHAR" property="expressName" />
    <result column="express_number" jdbcType="VARCHAR" property="expressNumber" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, send_goods_account, consig_goods_account, consig_name, consig_name_phone, consig_address, 
    express_name, express_number, order_status, order_type, goods_id, crt_time
  </sql>
  <!-- 查询订单列表 -->
  <select id="queryOrderInfoList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id AS id,
      a.send_goods_account AS sendGoodsAccount,
      a.consig_goods_account AS consigGoodsAccount,
      a.consig_name AS consigName,
      a.consig_name_phone AS consigNamePhone,
      a.consig_address AS consigAddress,
      a.express_name AS expressName,
      a.express_number AS expressNumber,
      a.order_status AS orderStatus,
      a.order_type AS orderType,
      a.goods_id AS goodsId,
      a.crt_time AS crtTime,
      IFNULL( b.nickname, b.member_account ) AS nickname,
      b.member_account AS memberAccount,
      IFNULL( b.head_img_url, '' ) AS headImgUrl
    FROM zx_app_order_info a
    LEFT JOIN t_member b ON a.consig_goods_account = b.member_account
    <where>
      <if test="id != null and id != ''">
        a.id = #{id}
      </if>
      <if test="goodsId != null and goodsId != ''">
        AND a.goods_id = #{goodsId}
      </if>
      <if test="sendGoodsAccount != null and sendGoodsAccount != ''">
        AND a.send_goods_account = #{sendGoodsAccount}
      </if>
      <if test="consigGoodsAccount != null and consigGoodsAccount != ''">
        AND a.consig_goods_account = #{consigGoodsAccount}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 查询订单列表统计 -->
  <select id="queryOrderInfoCount" parameterType="java.util.Map" resultType="int">
    SELECT
        COUNT(1)
    FROM zx_app_order_info
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <if test="goodsId != null and goodsId != ''">
        AND goods_id = #{goodsId}
      </if>
      <if test="sendGoodsAccount != null and sendGoodsAccount != ''">
        send_goods_account = #{sendGoodsAccount}
      </if>
      <if test="consigGoodsAccount != null and consigGoodsAccount != ''">
        AND consig_goods_account = #{consigGoodsAccount}
      </if>
    </where>
  </select>

  <!-- 查询订单详情 -->
  <select id="queryOrderInfoDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_order_info
    <where>
      <if test="id != null and id != ''">
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="sendGoodsAccount != null and sendGoodsAccount !=''">
        AND send_goods_account = #{sendGoodsAccount}
      </if>
      <if test="orderStatus != null and orderStatus !=''">
        AND order_status != #{orderStatus}
      </if>
      <if test="orderType != null and orderType !=''">
        AND order_type = #{orderType}
      </if>
    </where>
  </select>
  <!-- 删除订单信息 -->
  <delete id="delOrderInfoInfo" parameterType="java.util.Map">
    delete from zx_app_order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <!-- 新增订单信息 -->
  <insert id="saveOrderInfoInfo" parameterType="java.util.Map">
    insert into zx_app_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sendGoodsAccount != null">
        send_goods_account,
      </if>
      <if test="consigGoodsAccount != null">
        consig_goods_account,
      </if>
      <if test="consigName != null">
        consig_name,
      </if>
      <if test="consigNamePhone != null">
        consig_name_phone,
      </if>
      <if test="consigAddress != null">
        consig_address,
      </if>
      <if test="expressName != null">
        express_name,
      </if>
      <if test="expressNumber != null">
        express_number,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sendGoodsAccount != null">
        #{sendGoodsAccount,jdbcType=VARCHAR},
      </if>
      <if test="consigGoodsAccount != null">
        #{consigGoodsAccount,jdbcType=VARCHAR},
      </if>
      <if test="consigName != null">
        #{consigName,jdbcType=VARCHAR},
      </if>
      <if test="consigNamePhone != null">
        #{consigNamePhone,jdbcType=VARCHAR},
      </if>
      <if test="consigAddress != null">
        #{consigAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null">
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null">
        #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
        NOW(),
    </trim>
  </insert>
  <!-- 查看订单详情信息 -->
  <select id="queryMyReleaseOrderDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id AS id,
      a.send_goods_account AS sendGoodsAccount,
      a.consig_goods_account AS consigGoodsAccount,
      a.consig_name AS consigName,
      a.consig_name_phone AS consigNamePhone,
      a.consig_address AS consigAddress,
      a.express_name AS expressName,
      a.express_number AS expressNumber,
      a.order_status AS orderStatus,
      a.order_type AS orderType,
      a.goods_id AS goodsId,
      a.crt_time AS crtTime,
      IFNULL( b.nickname, b.member_account ) AS nickname,
      b.member_account AS memberAccount,
      IFNULL( b.head_img_url, '' ) AS headImgUrl
    FROM
    zx_app_order_info AS a
    <if test="sendGoodsAccount != null and sendGoodsAccount != ''">
      LEFT JOIN t_member AS b ON a.consig_goods_account = b.member_account
    </if>
    <if test="consigGoodsAccount != null and consigGoodsAccount != ''">
      LEFT JOIN t_member AS b ON a.send_goods_account = b.member_account
    </if>
    <where>
      a.id = #{id}
    </where>
  </select>

  <!-- 编辑订单详情 -->
  <update id="updateOrderInfoInfo" parameterType="java.util.Map">
    update zx_app_order_info
    <set>
      <if test="sendGoodsAccount != null and sendGoodsAccount != ''">
        send_goods_account = #{sendGoodsAccount,jdbcType=VARCHAR},
      </if>
      <if test="consigGoodsAccount != null and consigGoodsAccount != ''">
        consig_goods_account = #{consigGoodsAccount,jdbcType=VARCHAR},
      </if>
      <if test="consigName != null and consigName != ''">
        consig_name = #{consigName,jdbcType=VARCHAR},
      </if>
      <if test="consigNamePhone != null and consigNamePhone != ''">
        consig_name_phone = #{consigNamePhone,jdbcType=VARCHAR},
      </if>
      <if test="consigAddress != null and consigAddress != ''">
        consig_address = #{consigAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null and expressName != ''">
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null and expressNumber != ''">
        express_number = #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null and orderStatus != ''">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询在途商品 -->
  <select id="queryGoodsInTransitList" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT
        a.id AS id,
        a.order_status AS orderStatus,
        a.order_type AS orderType,
        b.product_cover_url AS productCoverUrlMS,
        b.needed_ad_fee AS neededAdFeeMs,
        b.goods_url AS goodsUrl,
        c.product_cover_url AS productCoverUrlFree,
        c.needed_ad_fee AS neededAdFeeFree,
        d.product_cover_url AS productCoverUrlLucky,
        d.goods_parcel_price AS goodsParcelPrice,
        DATE_FORMAT(a.crt_time,'%Y年%m月%d日') AS crtTime
    FROM
        zx_app_order_info a
    LEFT JOIN zx_app_zero_seckill b ON a.goods_id = b.id
    LEFT JOIN zx_app_free_goods c ON a.goods_id = c.id
    LEFT JOIN zx_app_lucky_goods d ON a.goods_id = d.id
    <where>
      a.consig_goods_account = #{memberAccount}
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 查询在途商品统计 -->
  <select id="queryGoodsInTransitCount" resultType="int" parameterType="java.util.Map">
    SELECT
        COUNT(1)
    FROM
    zx_app_order_info a
    LEFT JOIN zx_app_zero_seckill b ON a.goods_id = b.id
    LEFT JOIN zx_app_free_goods c ON a.goods_id = c.id
    LEFT JOIN zx_app_lucky_goods d ON a.goods_id = d.id
    <where>
      a.consig_goods_account = #{memberAccount}
    </where>
  </select>

</mapper>