<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsExamineMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="product_cover_url" jdbcType="VARCHAR" property="productCoverUrl" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="is_have_shop" jdbcType="VARCHAR" property="isHaveShop" />
    <result column="goods_url" jdbcType="VARCHAR" property="goodsUrl" />
    <result column="goods_explain_img" jdbcType="VARCHAR" property="goodsExplainImg" />
    <result column="goods_parcel_price" jdbcType="INTEGER" property="goodsParcelPrice" />
    <result column="partake_number" jdbcType="INTEGER" property="partakeNumber" />
    <result column="needed_ad_fee" jdbcType="INTEGER" property="neededAdFee" />
    <result column="needed_ad_fee_total" jdbcType="INTEGER" property="neededAdFeeTotal" />
    <result column="goods_release_num" jdbcType="INTEGER" property="goodsReleaseNum" />
    <result column="goods_surplus_num" jdbcType="INTEGER" property="goodsSurplusNum" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    a.id, a.member_account, a.product_cover_url, a.goods_desc, a.is_have_shop, a.goods_url, a.goods_explain_img,
    a.goods_parcel_price, a.partake_number, a.needed_ad_fee, a.needed_ad_fee_total, a.goods_release_num,
    a.goods_surplus_num, a.goods_type_id, a.goods_status, a.crt_time
  </sql>
  <!-- 查询零元秒杀商品列表 -->
  <select id="queryGoodsExamineList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List" />,
        b.wallet_balance AS walletBalance,
        b.advertising_fee AS advertisingFee,
        c.member_account AS shareMemberAccount,
        d.business_type AS businessType
    FROM zx_app_zero_seckill a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status = #{goodsStatus}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 查询零元秒杀商品统计 -->
  <select id="queryGoodsExamineCount" parameterType="java.util.Map" resultType="int">
    select
        COUNT(1)
    from zx_app_zero_seckill
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND goods_status = #{goodsStatus}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
  </select>
  <!-- 查询零元秒杀商品详情 -->
  <select id="queryGoodsExamineDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zx_app_zero_seckill a
    where a.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.util.Map">
    delete from zx_app_zero_seckill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <!-- 新增零元秒杀商品 -->
  <insert id="saveZeroSeckillInfo" parameterType="java.util.Map">
    insert into zx_app_zero_seckill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="productCoverUrl != null">
        product_cover_url,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="isHaveShop != null">
        is_have_shop,
      </if>
      <if test="goodsUrl != null">
        goods_url,
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img,
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price,
      </if>
      <if test="partakeNumber != null">
        partake_number,
      </if>
      <if test="neededAdFee != null">
        needed_ad_fee,
      </if>
      <if test="neededAdFeeTotal != null">
        needed_ad_fee_total,
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num,
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="partakeNumber != null">
        #{partakeNumber,jdbcType=INTEGER},
      </if>
      <if test="neededAdFee != null">
        #{neededAdFee,jdbcType=INTEGER},
      </if>
      <if test="neededAdFeeTotal != null">
        #{neededAdFeeTotal,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
        NOW(),
    </trim>
  </insert>
  <!-- 修改零元秒杀商品 -->
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_zero_seckill
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        product_cover_url = #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        is_have_shop = #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        goods_url = #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img = #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price = #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="partakeNumber != null">
        partake_number = #{partakeNumber,jdbcType=INTEGER},
      </if>
      <if test="neededAdFee != null">
        needed_ad_fee = #{neededAdFee,jdbcType=INTEGER},
      </if>
      <if test="neededAdFeeTotal != null">
        needed_ad_fee_total = #{neededAdFeeTotal,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num = #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 零元秒杀审核 -->
  <update id="authGoodsExamineInfo" parameterType="java.util.Map">
    update zx_app_zero_seckill
    <set>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 零元秒杀审核 -->
  <update id="updateGoodsExamineNum" parameterType="java.util.Map">
    update zx_app_zero_seckill
    <set>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>