<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsExamineMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="product_cover_url" jdbcType="VARCHAR" property="productCoverUrl" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="is_have_shop" jdbcType="VARCHAR" property="isHaveShop" />
    <result column="goods_url" jdbcType="VARCHAR" property="goodsUrl" />
    <result column="goods_explain_img" jdbcType="VARCHAR" property="goodsExplainImg" />
    <result column="goods_parcel_price" jdbcType="INTEGER" property="goodsParcelPrice" />
    <result column="partake_number" jdbcType="INTEGER" property="partakeNumber" />
    <result column="needed_ad_fee" jdbcType="INTEGER" property="neededAdFee" />
    <result column="needed_ad_fee_total" jdbcType="INTEGER" property="neededAdFeeTotal" />
    <result column="goods_release_num" jdbcType="INTEGER" property="goodsReleaseNum" />
    <result column="goods_surplus_num" jdbcType="INTEGER" property="goodsSurplusNum" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
    <result column="rotation_num" jdbcType="BIGINT" property="rotationNum" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    a.id, a.member_account, a.product_cover_url, a.goods_desc, a.is_have_shop, a.goods_url, a.goods_explain_img,
    a.goods_parcel_price, a.partake_number, a.needed_ad_fee, a.needed_ad_fee_total, a.goods_release_num,
    a.goods_surplus_num, a.goods_type_id, a.goods_status, a.rotation_num, a.audit_opinion, a.crt_time
  </sql>
  <!-- 查询零元秒杀商品列表 -->
  <select id="queryGoodsExamineList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List" />,
        a.crt_time AS releaseTime,
        b.wallet_balance AS walletBalance,
        b.advertising_fee AS advertisingFee,
        IFNULL(b.head_img_url, '') AS headImgUrl,
        IFNULL(b.nickname, b.member_account) AS nickname,
        c.member_account AS shareMemberAccount,
        d.business_type AS businessType,
        '1001' AS goodsType,
        (SELECT COUNT(1) FROM zx_app_zero_seckill_info s WHERE s.goods_id = a.id AND a.rotation_num = s.rotation_num) AS joinNum,
        (SELECT COUNT(1) FROM zx_app_goods_view_count s WHERE s.zx_goods_id = a.id) AS followNum
    FROM zx_app_zero_seckill a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    LEFT JOIN zx_app_my_share_extend c ON a.member_account = c.cover_member_account
    LEFT JOIN zx_app_business_auth d ON a.member_account = d.member_account AND d.auth_status != '1003'
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="goodsStatus != null and goodsStatus !='' and goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_status = #{goodsStatus} OR (a.goods_status = '1005' AND a.goods_surplus_num &gt; 0 AND a.goods_type_id = #{goodsTypeId})
      </if>
      <if test="goodsStatus != null and goodsStatus !='' and goodsTypeId == null or goodsTypeId ==''">
        AND a.goods_status = #{goodsStatus} OR (a.goods_status = '1005' AND a.goods_surplus_num &gt; 0)
      </if>
      <if test="goodsStatusHT != null and goodsStatusHT !=''">
        AND a.goods_status = #{goodsStatusHT}
      </if>
      <if test="goodsDesc != null and goodsDesc !=''">
        AND a.goods_desc LIKE CONCAT('%',#{goodsDesc},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 查询零元秒杀商品统计 -->
  <select id="queryGoodsExamineCount" parameterType="java.util.Map" resultType="int">
    select
        COUNT(1)
    from zx_app_zero_seckill
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        member_account = #{memberAccount}
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND goods_type_id = #{goodsTypeId}
      </if>
      <if test="goodsStatus != null and goodsStatus !='' and goodsTypeId != null and goodsTypeId !=''">
        AND goods_status = #{goodsStatus} OR (goods_status = '1005' AND goods_surplus_num &gt; 0 AND goods_type_id = #{goodsTypeId})
      </if>
      <if test="goodsStatus != null and goodsStatus !='' and goodsTypeId == null or goodsTypeId ==''">
        AND goods_status = #{goodsStatus} OR (goods_status = '1005' AND goods_surplus_num &gt; 0)
      </if>
      <if test="goodsStatusHT != null and goodsStatusHT !=''">
        AND goods_status = #{goodsStatusHT}
      </if>
      <if test="goodsDesc != null and goodsDesc !=''">
        AND goods_desc LIKE CONCAT('%',#{goodsDesc},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
    </where>
  </select>
  <!-- 查询零元秒杀商品详情 -->
  <select id="queryGoodsExamineDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    (SELECT COUNT(1) FROM zx_app_zero_seckill_info s WHERE s.goods_id = a.id AND s.rotation_num = a.rotation_num) AS joinNum
    from zx_app_zero_seckill a
    where a.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.util.Map">
    delete from zx_app_zero_seckill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <!-- 新增零元秒杀商品 -->
  <insert id="saveZeroSeckillInfo" parameterType="java.util.Map">
    insert into zx_app_zero_seckill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="productCoverUrl != null">
        product_cover_url,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="isHaveShop != null">
        is_have_shop,
      </if>
      <if test="goodsUrl != null">
        goods_url,
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img,
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price,
      </if>
      <if test="partakeNumber != null">
        partake_number,
      </if>
      <if test="neededAdFee != null">
        needed_ad_fee,
      </if>
      <if test="neededAdFeeTotal != null">
        needed_ad_fee_total,
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num,
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num,
      </if>
      <if test="goodsTypeId != null">
        goods_type_id,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
      <if test="rotationNum != null">
        rotation_num,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="partakeNumber != null">
        #{partakeNumber,jdbcType=INTEGER},
      </if>
      <if test="neededAdFee != null">
        #{neededAdFee,jdbcType=INTEGER},
      </if>
      <if test="neededAdFeeTotal != null">
        #{neededAdFeeTotal,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="rotationNum != null">
        #{rotationNum,jdbcType=BIGINT},
      </if>
        NOW(),
    </trim>
  </insert>
  <!-- 修改零元秒杀商品 -->
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_zero_seckill
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="productCoverUrl != null">
        product_cover_url = #{productCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="isHaveShop != null">
        is_have_shop = #{isHaveShop,jdbcType=VARCHAR},
      </if>
      <if test="goodsUrl != null">
        goods_url = #{goodsUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsExplainImg != null">
        goods_explain_img = #{goodsExplainImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsParcelPrice != null">
        goods_parcel_price = #{goodsParcelPrice,jdbcType=INTEGER},
      </if>
      <if test="partakeNumber != null">
        partake_number = #{partakeNumber,jdbcType=INTEGER},
      </if>
      <if test="neededAdFee != null">
        needed_ad_fee = #{neededAdFee,jdbcType=INTEGER},
      </if>
      <if test="neededAdFeeTotal != null">
        needed_ad_fee_total = #{neededAdFeeTotal,jdbcType=INTEGER},
      </if>
      <if test="goodsReleaseNum != null">
        goods_release_num = #{goodsReleaseNum,jdbcType=INTEGER},
      </if>
      <if test="goodsSurplusNum != null">
        goods_surplus_num = #{goodsSurplusNum,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeId != null">
        goods_type_id = #{goodsTypeId,jdbcType=BIGINT},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 零元秒杀审核 -->
  <update id="authGoodsExamineInfo" parameterType="java.util.Map">
    update zx_app_zero_seckill
    <set>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 零元秒杀审核 -->
  <update id="updateGoodsExamineNum" parameterType="java.util.Map">
    update zx_app_zero_seckill
    <set>
      <if test="goodsSurplusNum != null or goodsSurplusNum == 0">
        goods_surplus_num = #{goodsSurplusNum},
      </if>
      <if test="rotationNum != null and rotationNum != ''">
        rotation_num = #{rotationNum},
      </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询我发布的秒杀商品信息 -->
  <select id="queryMyReleaseGoodsList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.id AS id,
        a.member_account AS memberAccount,
        a.product_cover_url AS productCoverUrl,
        a.goods_desc AS goodsDesc,
        a.is_have_shop AS isHaveShop,
        a.goods_url AS goodsUrl,
        a.goods_explain_img AS goodsExplainImg,
        a.goods_parcel_price AS goodsParcelPrice,
        a.partake_number AS partakeNumber,
        a.needed_ad_fee AS neededAdFee,
        a.needed_ad_fee_total AS neededAdFeeTotal,
        a.goods_release_num AS goodsReleaseNum,
        a.goods_surplus_num AS goodsSurplusNum,
        a.goods_type_id AS goodsTypeId,
        a.goods_status AS goodsStatus,
        a.audit_opinion AS auditOpinion,
        DATE_FORMAT(a.crt_time, '%Y年%m月%d日') AS crtTime,
        a.crt_time AS releaseTime,
        '1001' AS goodsType,
        IFNULL(b.head_img_url, '') AS headImgUrl,
        IFNULL(b.nickname, b.member_account) AS nickname,
        (SELECT COUNT(1) FROM zx_app_goods_view_count s WHERE s.zx_goods_id = a.id) AS followNum,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1001') AS deliverGoods,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1002') AS shippedStatus,
        (SELECT COUNT(1) FROM zx_app_order_info b WHERE b.goods_id = a.id AND b.order_status = '1003') AS receivedGoods
    FROM zx_app_zero_seckill a
    LEFT JOIN t_member b ON a.member_account = b.member_account
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsStatus != null and goodsStatus !=''">
        AND a.goods_status IN (${goodsStatus})
      </if>
      <if test="goodsTypeId != null and goodsTypeId !=''">
        AND a.goods_type_id = #{goodsTypeId}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(a.crt_time,'%Y-%m-%d') &lt;= #{endTime}
      </if>
      AND goods_status != '1003'
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 查询零元秒杀幸运榜列表 -->
  <select id="queryZeroSeckillLuckyList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.id as goodsId,
        a.goods_desc AS goodsDesc,
        a.needed_ad_fee AS neededAdFee,
        a.partake_number AS partakeNumber,
        a.product_cover_url AS productCoverUrl,
        a.goods_url AS goodsUrl,
        b.goods_luck_star AS goodsLuckStar,
        DATE_FORMAT(b.crt_time,'%Y年%m月%d日') AS crtTime,
        IFNULL(c.head_img_url, '') AS headImgUrl,
        IFNULL(c.nickname, c.member_account) AS nickname,
        b.rotation_num AS rotationNum
    FROM
      zx_app_zero_seckill_info b
    LEFT JOIN zx_app_zero_seckill a ON a.id = b.goods_id
    LEFT JOIN t_member c ON b.buy_member_account = c.member_account
    <where>
      b.goods_luck_star = 1
    </where>
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 查询零元秒杀幸运榜统计 -->
  <select id="queryZeroSeckillLuckyCount" parameterType="java.util.Map" resultType="int">
    SELECT
      COUNT(1)
    FROM
    zx_app_zero_seckill_info b
    LEFT JOIN zx_app_zero_seckill a ON a.id = b.goods_id
    LEFT JOIN t_member c ON b.buy_member_account = c.member_account
    <where>
      b.goods_luck_star = 1
    </where>
  </select>
  <!-- 参与详情头部展示 -->
  <select id="queryPartakeHeadInfo" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.lucky_order_number AS luckyOrderNumber,
        (SELECT COUNT(1) FROM zx_app_zero_seckill_info b WHERE b.goods_id = #{goodsId} AND b.rotation_num = #{rotationNum}) AS partakeNumber,
        (SELECT SUM(b.lucky_number) FROM zx_app_zero_seckill_info b WHERE b.goods_id = #{goodsId} AND b.rotation_num = #{rotationNum}) AS luckyNumber
    FROM
        zx_app_zero_seckill_info a
    WHERE a.goods_id = #{goodsId} AND a.goods_luck_star = 1 AND a.rotation_num = #{rotationNum}
  </select>

  <!-- 查询关注次数 -->
  <select id="queryGoodsViewCount" parameterType="java.util.Map" resultType="int">
    SELECT
    COUNT(1)
    FROM zx_app_goods_view_count a
    <where>
      <if test="memberAccount != null and memberAccount != ''">
        a.member_account = #{memberAccount}
      </if>
      <if test="goodsId != null and goodsId != ''">
        AND a.zx_goods_id = #{goodsId}
      </if>
    </where>
  </select>

  <!-- 新增商品关注 -->
  <insert id="saveGoodsViewCount" parameterType="java.util.Map">
    insert into zx_app_goods_view_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        zx_goods_id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>