<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZeroSeckillInfoMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="buy_member_account" jdbcType="VARCHAR" property="buyMemberAccount" />
    <result column="lucky_number" jdbcType="VARCHAR" property="luckyNumber" />
    <result column="lucky_order_number" jdbcType="INTEGER" property="luckyOrderNumber" />
    <result column="goods_luck_star" jdbcType="INTEGER" property="goodsLuckStar" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, buy_member_account, lucky_number, lucky_order_number, goods_luck_star, 
    crt_time
  </sql>

  <!-- 零元秒杀幸运榜列表 -->
  <select id="queryZeroSeckillInfoList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id AS id,
      a.goods_id AS goodsId,
      a.buy_member_account AS buyMemberAccount,
      a.lucky_number AS luckyNumber,
      a.lucky_order_number AS luckyOrderNumber,
      a.goods_luck_star AS goodsLuckStar,
      DATE_FORMAT(a.crt_time,'%m月%d日 %H:%i') AS crtTime,
      IFNULL(b.head_img_url, '') AS headImgUrl,
      IFNULL(b.nickname, b.member_account) AS nickname
    FROM
        zx_app_zero_seckill_info AS a
    LEFT JOIN t_member AS b ON a.buy_member_account = b.member_account
    <where>
      a.goods_id = #{goodsId}
      <if test="buyMemberAccount != null and buyMemberAccount !=''">
        AND a.buy_member_account = #{buyMemberAccount}
      </if>
    </where>
    ORDER BY a.lucky_order_number ASC
  </select>
  <!-- 零元秒杀幸运榜统计 -->
  <select id="queryZeroSeckillInfoCount" parameterType="java.util.Map" resultType="int">
    SELECT
      COUNT(1)
    FROM
    zx_app_zero_seckill_info
    <where>
      goods_id = #{goodsId}
      <if test="buyMemberAccount != null and buyMemberAccount !=''">
        AND buy_member_account = #{buyMemberAccount}
      </if>
    </where>
    ORDER BY lucky_order_number ASC
  </select>
  
  <!-- 查询是否参与该活动 -->
  <select id="queryZeroSeckillIsBuy" parameterType="java.util.Map" resultType="int">
    SELECT
        COUNT(1)
    FROM
        zx_app_zero_seckill_info
    WHERE goods_id = #{goodsId} AND buy_member_account = #{buyMemberAccount}
  </select>

  <select id="queryZeroSeckillMaxNum" parameterType="java.util.Map" resultType="int">
    SELECT
        IFNULL(MAX( lucky_order_number ) , 0)AS maxLuckyOrderNumber
    FROM
        zx_app_zero_seckill_info
    WHERE goods_id = #{id} AND rotation_num = #{rotationNum}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Map">
    delete from zx_app_zero_seckill_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="java.util.Map">
    insert into zx_app_zero_seckill_info (id, goods_id, buy_member_account, 
      lucky_number, lucky_order_number, goods_luck_star, 
      crt_time)
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{buyMemberAccount,jdbcType=VARCHAR}, 
      #{luckyNumber,jdbcType=VARCHAR}, #{luckyOrderNumber,jdbcType=INTEGER}, #{goodsLuckStar,jdbcType=VARCHAR},
      #{crtTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="buyGoodsExamineInfo" parameterType="java.util.Map">
    insert into zx_app_zero_seckill_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="buyMemberAccount != null">
        buy_member_account,
      </if>
      <if test="luckyNumber != null">
        lucky_number,
      </if>
      <if test="luckyOrderNumber != null">
        lucky_order_number,
      </if>
      <if test="goodsLuckStar != null">
        goods_luck_star,
      </if>
      <if test="rotationNum != null">
        rotation_num,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="buyMemberAccount != null">
        #{buyMemberAccount,jdbcType=VARCHAR},
      </if>
      <if test="luckyNumber != null">
        #{luckyNumber,jdbcType=VARCHAR},
      </if>
      <if test="luckyOrderNumber != null">
        #{luckyOrderNumber,jdbcType=INTEGER},
      </if>
      <if test="rotationNum != null">
        #{rotationNum,jdbcType=INTEGER},
      </if>
        NOW(),
    </trim>
  </insert>
  <!-- -->
  <update id="updateZeroSeckillInfo" parameterType="java.util.Map">
    update zx_app_zero_seckill_info
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="buyMemberAccount != null">
        buy_member_account = #{buyMemberAccount,jdbcType=VARCHAR},
      </if>
      <if test="luckyNumber != null">
        lucky_number = #{luckyNumber,jdbcType=VARCHAR},
      </if>
      <if test="luckyOrderNumber != null">
        lucky_order_number = #{luckyOrderNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsLuckStar != null">
        goods_luck_star = #{goodsLuckStar,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateGoodsLuckStar" parameterType="java.util.Map">
    update zx_app_zero_seckill_info
    <set>
      <if test="goodsLuckStar != null">
        goods_luck_star = #{goodsLuckStar,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询幸运序号最大值 -->
  <select id="querySumGoodsLuckStar" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT
	    SUM( lucky_number ) AS orderNum, COUNT( 1 ) AS peopleTotal
    FROM
        `zx_app_zero_seckill_info`
    WHERE goods_id = #{goodsId}
  </select>

  <!-- 零元秒杀幸运榜列表 -->
  <select id="queryZeroSeckillInfoDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    zx_app_zero_seckill_info
    <where>
      <if test="goodsId != null and goodsId !=''">
        goods_id = #{goodsId}
      </if>
      <if test="buyMemberAccount != null and buyMemberAccount !=''">
        AND buy_member_account = #{buyMemberAccount}
      </if>
      <if test="luckyMan != null and luckyMan !=''">
        AND lucky_order_number = #{luckyMan}
      </if>
    </where>
  </select>

  <!-- 零元秒杀幸运榜列表 -->
  <select id="queryZeroSeckillInfoOne" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    zx_app_zero_seckill_info
    <where>
      goods_id = #{goodsId}
    </where>
    ORDER BY crt_time DESC
    LIMIT 1
  </select>

  <!-- 查询是否存在秒杀 -->
  <select id="queryIsZeroSeckillInfo" parameterType="java.util.Map" resultType="int">
    SELECT
        COUNT(1)
    FROM
        zx_app_zero_seckill_info
    WHERE goods_id = #{goodsId} AND rotation_num = #{rotationNum}
  </select>

</mapper>