<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberAccountMapper">
  <!-- 查询会员管理列表 -->
  <select id="queryMemberAccountList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.id AS id,
      IFNULL( a.member_account_num, '' ) AS memberAccount,
      IFNULL( a.account_name, '' ) AS accountName,
      IFNULL( a.payment_account, '' ) AS paymentAccount,
      IFNULL( a.account_type, '' ) AS accountType,
      a.crt_time AS crtTime
  FROM
      zx_app_account_manage a
      WHERE a.member_account_num = #{memberAccount}
    ORDER BY a.crt_time DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <!-- 查询会员统计 -->
  <select id="queryMemberAccountCount" parameterType="java.util.Map" resultType="int">
    SELECT COUNT(1) FROM zx_app_account_manage a
  </select>

  <!-- 新增会员账户管理信息 -->
  <insert id="saveMemberAccountInfo" parameterType="java.util.Map">
    insert into zx_app_account_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
        id,
      <if test="memberAccount != null">
        member_account_num,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="paymentAccount != null">
        payment_account,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
        crt_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{id,jdbcType=BIGINT},
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccount != null">
        #{paymentAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
        NOW()
    </trim>
  </insert>
  <!-- 删除会员账户管理 -->
  <delete id="delMemberAccountInfo" parameterType="java.lang.Long">
    DELETE FROM zx_app_account_manage WHERE id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="queryMemberMoneyTotalList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      	IFNULL(CAST(sum(wallet_balance) AS DECIMAL(11,2)), '0') AS walletAmount
        -- 四个为抢完红包
        ,(select IFNULL(CAST(sum(red_packet_money) AS DECIMAL(11,2)), '0') from zx_app_red_packet_info where red_packet_user_id is NULL) AS redPacket
        ,(select IFNULL(CAST(sum(red_packet_img_money) AS DECIMAL(11,2)), '0') from zx_app_img_red_packet_info where red_packet_img_user_id is NULL) AS redImgPacket
        ,(select IFNULL(CAST(sum(red_packet_link_money) AS DECIMAL(11,2)), '0') from zx_app_link_red_packet_info where red_packet_link_user_id is NULL) AS redLinkPacket
        ,(select IFNULL(CAST(sum(red_packet_video_money) AS DECIMAL(11,2)), '0') from zx_app_video_red_packet_info where red_packet_video_user_id is NULL) AS redVideoPacket
        -- 激活分红
        ,(select IFNULL(CAST(sum(wallet_info_money) AS DECIMAL(11,2)), '0') from zx_app_wallet_money_info where wallet_info_from = "激活分红") AS activateMoney
        -- 申请分红
        ,(select IFNULL(CAST(sum(wallet_info_money) AS DECIMAL(11,2)), '0') from zx_app_wallet_money_info where wallet_info_from = "追加分红") AS applyMoney
        -- 升级群扣除
        ,(select IFNULL(CAST(sum(wallet_info_money) AS DECIMAL(11,2)), '0') from zx_app_wallet_money_info where wallet_info_from = "升级群扣除") AS groupMoney
        -- 实际提现钱数
        ,(select IFNULL(CAST(sum(cash_amount) AS DECIMAL(11,2)), '0') from t_cash_audit where audit_type = 2) AS relReflectMoney
        -- 提现钱数
        ,(select IFNULL(CAST(sum(cash_amount) AS DECIMAL(11,2)), '0') from t_cash_audit) AS reflectMoney
        -- 充值钱数
        ,(select IFNULL(CAST(sum(recharge_amount) AS DECIMAL(11,2)), '0') from t_recharge_record where valid_sts_cd = 1) AS totalMoney
    FROM  t_member
  </select>
</mapper>