<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImgRedPacketMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="red_packet_img_id" jdbcType="BIGINT" property="redPacketImgId" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="red_packet_img_money_count" jdbcType="DECIMAL" property="redPacketImgMoneyCount" />
    <result column="red_packet_img_count" jdbcType="INTEGER" property="redPacketImgCount" />
    <result column="red_packet_img_stock" jdbcType="INTEGER" property="redPacketImgStock" />
    <result column="red_packet_img_url" jdbcType="VARCHAR" property="redPacketImgUrl" />
    <result column="red_packet_img_info" jdbcType="VARCHAR" property="redPacketImgInfo" />
    <result column="red_packet_img_luck_star" jdbcType="VARCHAR" property="redPacketImgLuckStar" />
    <result column="red_packet_img_start_time" jdbcType="TIMESTAMP" property="redPacketImgStartTime" />
    <result column="red_packet_img_end_time" jdbcType="TIMESTAMP" property="redPacketImgEndTime" />
    <result column="red_packet_img_question" jdbcType="VARCHAR" property="redPacketImgQuestion" />
    <result column="red_packet_img_options" jdbcType="VARCHAR" property="redPacketImgOptions" />
    <result column="red_packet_img_answer" jdbcType="VARCHAR" property="redPacketImgAnswer" />
    <result column="red_packet_img_sex" jdbcType="INTEGER" property="redPacketImgSex" />
    <result column="red_packet_img_age_start" jdbcType="INTEGER" property="redPacketImgAgeStart" />
    <result column="red_packet_img_age_end" jdbcType="INTEGER" property="redPacketImgAgeEnd" />
    <result column="red_packet_img_date" jdbcType="TIMESTAMP" property="redPacketImgDate" />
  </resultMap>
  <sql id="Base_Column_List">
    red_packet_img_id, member_account, red_packet_img_money_count, red_packet_img_count, 
    red_packet_img_stock, red_packet_img_url, red_packet_img_info, red_packet_img_luck_star, 
    red_packet_img_start_time, red_packet_img_end_time, red_packet_img_question, red_packet_img_options, 
    red_packet_img_answer, red_packet_img_sex, red_packet_img_age_start, red_packet_img_age_end, 
    red_packet_img_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_img_red_packet
    where red_packet_img_id = #{redPacketImgId,jdbcType=BIGINT}
  </select>
  <delete id="delImgRedPacketInfo" parameterType="java.lang.Long">
    delete from zx_app_img_red_packet
    where red_packet_img_id = #{redPacketImgId,jdbcType=BIGINT}
  </delete>

  <insert id="saveImgRedPacketInfo" parameterType="java.util.Map">
    insert into zx_app_img_red_packet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="redPacketImgId != null">
        red_packet_img_id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="redPacketImgMoneyCount != null">
        red_packet_img_money_count,
      </if>
      <if test="redPacketImgCount != null">
        red_packet_img_count,
      </if>
      <if test="redPacketImgStock != null">
        red_packet_img_stock,
      </if>
      <if test="redPacketImgUrl != null">
        red_packet_img_url,
      </if>
      <if test="redPacketImgInfo != null">
        red_packet_img_info,
      </if>
      <if test="redPacketImgLuckStar != null">
        red_packet_img_luck_star,
      </if>
      <if test="redPacketImgQuestion != null">
        red_packet_img_question,
      </if>
      <if test="redPacketImgOptions != null">
        red_packet_img_options,
      </if>
      <if test="redPacketImgAnswer != null">
        red_packet_img_answer,
      </if>
      <if test="redPacketImgSex != null">
        red_packet_img_sex,
      </if>
      <if test="redPacketImgAgeStart != null">
        red_packet_img_age_start,
      </if>
      <if test="redPacketImgAgeEnd != null">
        red_packet_img_age_end,
      </if>
        red_packet_img_date,
      <if test="provName != null and provName != ''">
        province_name,
      </if>
      <if test="cityName != null and cityName != ''">
        city_name,
      </if>
      <if test="countyName != null and countyName != ''">
        county_name,
      </if>
      red_packet_img_type,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="redPacketImgId != null">
        #{redPacketImgId,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgMoneyCount != null">
        #{redPacketImgMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketImgCount != null">
        #{redPacketImgCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgStock != null">
        #{redPacketImgStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgUrl != null">
        #{redPacketImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgInfo != null">
        #{redPacketImgInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgLuckStar != null">
        #{redPacketImgLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgQuestion != null">
        #{redPacketImgQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgOptions != null">
        #{redPacketImgOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgAnswer != null">
        #{redPacketImgAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgSex != null">
        #{redPacketImgSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgAgeStart != null">
        #{redPacketImgAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgAgeEnd != null">
        #{redPacketImgAgeEnd,jdbcType=INTEGER},
      </if>
        NOW(),
      <if test="provName != null and provName != ''">
        #{provName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null and cityName != ''">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyName != null and countyName != ''">
        #{countyName,jdbcType=VARCHAR},
      </if>
        #{redPacketImgType}
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_img_red_packet
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgMoneyCount != null">
        red_packet_img_money_count = #{redPacketImgMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketImgCount != null">
        red_packet_img_count = #{redPacketImgCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgStock != null">
        red_packet_img_stock = #{redPacketImgStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgUrl != null">
        red_packet_img_url = #{redPacketImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgInfo != null">
        red_packet_img_info = #{redPacketImgInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgLuckStar != null">
        red_packet_img_luck_star = #{redPacketImgLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgStartTime != null">
        red_packet_img_start_time = #{redPacketImgStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketImgEndTime != null">
        red_packet_img_end_time = #{redPacketImgEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketImgQuestion != null">
        red_packet_img_question = #{redPacketImgQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgOptions != null">
        red_packet_img_options = #{redPacketImgOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgAnswer != null">
        red_packet_img_answer = #{redPacketImgAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgSex != null">
        red_packet_img_sex = #{redPacketImgSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgAgeStart != null">
        red_packet_img_age_start = #{redPacketImgAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgAgeEnd != null">
        red_packet_img_age_end = #{redPacketImgAgeEnd,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgDate != null">
        red_packet_img_date = #{redPacketImgDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_img_id = #{redPacketImgId,jdbcType=BIGINT}
  </update>

  <!-- 查询红包信息 -->
  <select id="queryRedPacketLog" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_img_id AS redPacketId,
      a.member_account AS redPacketUserId,
      a.red_packet_img_money_count AS redPacketMoneyCount,
      a.red_packet_img_count AS redPacketCount,
      a.red_packet_img_stock AS redPacketStock,
      a.red_packet_img_url AS redPacketUrl,
      a.red_packet_img_info AS redPacketInfo,
      a.red_packet_img_luck_star AS redPacketLuckStar,
      a.red_packet_img_start_time AS redPacketStartTime,
      a.red_packet_img_end_time AS redPacketEndTime,
      a.red_packet_img_question AS redPacketQuestion,
      a.red_packet_img_options AS redPacketOptions,
      a.red_packet_img_answer AS redPacketAnswer,
      a.red_packet_img_sex AS redPacketSex,
      a.red_packet_img_age_start AS redPacketAgeStart,
      a.red_packet_img_age_end AS redPacketAgeEnd,
      a.red_packet_img_date AS redPacketDate,
      a.red_packet_img_type AS redPacketType,
      b.head_img_url AS headImgUrl,
      #b.nickname AS nickname,
      IFNULL(b.nickname,b.member_account) AS nickname, -- 发布红包用户昵称
      b.member_account AS memberAccount,
      a.province_name AS provinceName,
      a.city_name AS cityName,
      a.county_name AS countyName
  FROM
      zx_app_img_red_packet a
      LEFT JOIN t_member b ON a.member_account = b.member_account
      <where>
        <if test="redPacketImgId != null and redPacketImgId != ''">
          a.red_packet_img_id = #{redPacketImgId}
        </if>
      </where>
    ORDER BY a.red_packet_img_date ASC
  </select>

  <!-- 新增抢红包记录 -->
  <insert id="insertListRedPacketInfo" parameterType="java.util.Map">
      insert into zx_app_img_red_packet_info(red_packet_img_info_id,red_packet_img_id,red_packet_img_money,red_packet_img_luck_star) values(#{redPacketImgInfoId},#{redPacketImgId},#{num},#{luckStar})
  </insert>

  <!-- 更新抢红包信息 -->
  <update id="updateByExampleSelective" parameterType="java.util.Map">
    update zx_app_img_red_packet
    <set>
      <if test="redPacketImgCount != null">
        red_packet_img_count = #{redPacketImgCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgStock != null">
        red_packet_img_stock = #{redPacketImgStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketImgUnitAmount != null and redPacketImgUnitAmount != ''">
        red_packet_img_unit_amount = #{redPacketImgUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketImgLuckStar != null and redPacketImgLuckStar != ''">
        red_packet_img_luck_star = #{redPacketImgLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketImgStartTime != null">
        red_packet_img_start_time = #{redPacketImgStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketImgEndTime != null">
        red_packet_img_end_time = #{redPacketImgEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_img_id = #{redPacketImgId,jdbcType=BIGINT}
  </update>

  <!-- 查询我的发布红包列表 -->
  <select id="queryMyReleaseRedPacket" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_img_id AS redPacketId,
      a.member_account AS memberAccount,
      a.red_packet_img_money_count AS redPacketMoneyCount,
      a.red_packet_img_count AS redPacketCount,
      a.red_packet_img_stock AS redPacketStock,
      DATE_FORMAT(a.red_packet_img_date,'%m月%d日%H:%i') AS redPacketDate,
      a.red_packet_img_date AS redPacketDateSort,
      (red_packet_img_count - red_packet_img_stock) AS robRedPacketCount,
      '图文广告' AS redPacketType
    FROM
      zx_app_img_red_packet AS a
    WHERE a.member_account = #{memberAccount}
    ORDER BY a.red_packet_img_date DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!--根据用户ID和红包ID查询红包详细信息 -->
  <select id="queryRedPacketDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_img_id AS redPacketImgId,
      a.member_account AS redPacketImgUserId,
      a.red_packet_img_money_count AS redPacketMoneyCount,
      a.red_packet_img_count AS redPacketImgCount,
      a.red_packet_img_stock AS redPacketImgStock,
      a.red_packet_img_info AS redPacketImgInfo,
      a.red_packet_img_luck_star AS redPacketImgLuckStar,
      a.red_packet_img_start_time AS redPacketImgStartTime,
      a.red_packet_img_end_time AS redPacketImgEndTime,
      a.red_packet_img_question AS redPacketImgQuestion,
      a.red_packet_img_options AS redPacketImgOptions,
      a.red_packet_img_answer AS redPacketImgAnswer,
      a.red_packet_img_sex AS redPacketImgSex,
      a.red_packet_img_age_start AS redPacketImgAgeStart,
      a.red_packet_img_age_end AS redPacketImgAgeEnd,
      a.red_packet_img_date AS redPacketImgDate,
      a.red_packet_img_type AS redPacketImgType
  FROM
      zx_app_img_red_packet a
      WHERE a.red_packet_img_id = #{redPacketImgId}
    <if test="memberAccount != null and memberAccount != ''">
      AND a.member_account = #{memberAccount}
    </if>
  </select>

  <!--根据用户账号和红包id查询-->
  <select id="queryRedPacketInfoDetail" resultType="java.util.Map">
     SELECT
          red_packet_img_info_id AS redPacketImgInfoId,
          red_packet_img_id AS redPacketImgId,
          red_packet_img_user_id AS redPacketImgUserId,
          red_packet_img_money AS redPacketImgMoney,
          red_packet_img_luck_star AS redPacketImgLuckStar,
          red_packet_img_date AS redPacketImgDate
      FROM zx_app_img_red_packet_info WHERE red_packet_img_id = #{redPacketImgId}  AND red_packet_img_user_id = #{robUserId}
        LIMIT 1
  </select>

  <!-- 返回一个随意产生的红包给用户 -->
  <select id="randomSelectRedPacketInfo" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        zx_app_img_red_packet_info.red_packet_img_info_id AS "redPacketInfoId",
        zx_app_img_red_packet_info.red_packet_img_id AS "redPacketId",
        zx_app_img_red_packet_info.red_packet_img_user_id AS "redPacketUserId",
        zx_app_img_red_packet_info.red_packet_img_money AS "redPacketMoney",
        zx_app_img_red_packet_info.red_packet_img_luck_star AS "redPacketLuckStar",
        zx_app_img_red_packet_info.red_packet_img_date AS "redPacketDate",
        UNIX_TIMESTAMP( zx_app_img_red_packet.red_packet_img_end_time ) - UNIX_TIMESTAMP( zx_app_img_red_packet.red_packet_img_start_time ) AS "timeSum"
    FROM
        zx_app_img_red_packet_info
        LEFT JOIN zx_app_img_red_packet ON zx_app_img_red_packet.red_packet_img_id = zx_app_img_red_packet_info.red_packet_img_id
    WHERE
        zx_app_img_red_packet_info.red_packet_img_id = #{redPacketImgId}  AND zx_app_img_red_packet_info.red_packet_img_user_id IS NULL
        LIMIT 1
  </select>

  <!-- 根据红包信息ID查询出最终的红包信息 -->
  <select id="selectRedPacketInfoByInfoId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        zx_app_img_red_packet_info.red_packet_img_info_id   AS "redPacketInfoId",
        zx_app_img_red_packet_info.red_packet_img_id        AS "redPacketId",
        zx_app_img_red_packet.member_account                AS "redPacketUserId",
        zx_app_img_red_packet_info.red_packet_img_user_id   AS "robRedPacUserId",
        zx_app_img_red_packet_info.red_packet_img_money     AS "redPacketMoney",
        zx_app_img_red_packet_info.red_packet_img_luck_star AS "redPacketLuckStar",
        zx_app_img_red_packet_info.red_packet_img_date      AS "redPacketDate",
        zx_app_img_red_packet.red_packet_img_stock          AS "redPacketStock",
        UNIX_TIMESTAMP(zx_app_img_red_packet.red_packet_img_end_time) - UNIX_TIMESTAMP(zx_app_img_red_packet.red_packet_img_start_time)  AS "timeSum"
      FROM zx_app_img_red_packet_info
              LEFT JOIN zx_app_img_red_packet ON zx_app_img_red_packet.red_packet_img_id = zx_app_img_red_packet_info.red_packet_img_id
      WHERE zx_app_img_red_packet_info.red_packet_img_info_id = #{redPacketInfoId}
      LIMIT 1
  </select>

  <!-- 根据当前登录人查询所抢红包 -->
  <select id="selectRedPacketInfoByRobUserId" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        b.red_packet_img_id AS redPacketId, -- 红包ID
        b.member_account AS memberAccount, -- 发布红包用户ID
        b.red_packet_img_money_count AS redPacketMoneyCount, -- 红包金额
        b.red_packet_img_count AS redPacketCount,-- 红包个数
        b.red_packet_img_info AS redPacketInfo,-- 红包显示信息
        b.red_packet_img_url AS redPacketImgUrl, -- 红包视频链接地址
        UNIX_TIMESTAMP(b.red_packet_img_end_time) - UNIX_TIMESTAMP(b.red_packet_img_start_time)  AS timeSum, -- 抢红包总耗时
        b.red_packet_img_date AS redPacketDate,-- 发布红包时间
        a.head_img_url AS headImgUrl,-- 发布红包用户头像ID
        IFNULL(a.nickname,a.member_account) AS nickName, -- 发布红包用户昵称
        a.id AS userId -- 用户账号
    FROM
        zx_app_img_red_packet b
    LEFT JOIN t_member a ON a.member_account = b.red_packet_img_user_id
    WHERE b.red_packet_img_id IN ( SELECT red_packet_img_id FROM zx_app_img_red_packet_info
                                    WHERE red_packet_img_user_id = #{robUserId})
          AND b.red_packet_img_stock = 0
  </select>

  <!--根据图文红包id和用户id查询红包和用户信息-->
  <select id="selectUserRedPacketInfoAndRedPacketByUserId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
          b.member_account AS memberAccount,-- 用户账号
          b.head_img_url AS headImgUrl,-- 头像图片链接
          IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
          c.red_packet_img_info AS redPacketInfo,-- 红包广告标语
          c.red_packet_img_count AS redPacketCount,-- 红包总个数
          c.red_packet_img_stock AS redPacketStock,-- 红包剩余个数
          c.red_packet_img_url AS redPacketImgUrl,-- 红包视频链接地址
          UNIX_TIMESTAMP( c.red_packet_img_end_time ) - UNIX_TIMESTAMP( c.red_packet_img_start_time ) AS timeSum -- 抢红包总耗时
      FROM
          zx_app_img_red_packet c
          LEFT JOIN t_member b ON b.member_account = c.member_account
      WHERE
          c.red_packet_img_id = #{redPacketImgId}
  </select>

  <!-- 根据红包id和用户id查询抢红包的详细信息,那个人抢了多少钱-->
  <select id="selectRedPacketInfoByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        b.id AS userId,-- 用户ID
        b.head_img_url AS headImgUrl,-- 头像图片链接
        IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
        b.member_account AS memberAccount,-- 用户账号
        a.red_packet_img_money AS redPacketMoney,-- 非当前用户抢钱金额
        a.red_packet_img_luck_star AS redPacketLuckStar,-- 非当前用户是否是手气最佳
        a.red_packet_img_date AS redPacketDate -- 抢红包时间
    FROM
        zx_app_img_red_packet_info a
        LEFT JOIN t_member b ON b.member_account = a.red_packet_img_user_id
    WHERE
        a.red_packet_img_id = #{redPacketImgId}
        AND a.red_packet_img_user_id IS NOT NULL
  </select>
  <!-- 根据红包ID查询红包详细信息 -->
  <select id="checkUserIsRobRedPacket" resultType="int">
    select COUNT(1) from zx_app_img_red_packet_info WHERE red_packet_img_id = #{redPacketImgId,jdbcType=BIGINT}   AND red_packet_img_user_id = #{memberAccount,jdbcType=VARCHAR}
  </select>
  <!-- 查看用户抢红包成功失败信息 -->
  <select id="selectStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      select v.red_packet_img_stock AS "redPacketStock",
             v.red_packet_img_count AS redPacketCount,
             IFNULL(s.red_packet_user_id,"0") AS "isWrong"
             from zx_app_img_red_packet v
             LEFT JOIN zx_app_img_red_packet_scrape s on v.red_packet_img_id = s.red_packet_id and #{memberAccount,jdbcType=VARCHAR} = s.red_packet_user_id
             where v.red_packet_img_id = #{redPacketImgId,jdbcType=BIGINT}
  </select>

  <!-- 当前用户是否领取该红包 参数为 memberAccount（当前用户账号）,redPackageIds（红包Id） 返回值 -->
  <select id="selectListStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
    select v.red_packet_img_id AS "redPacketId",
    v.red_packet_img_count AS "redPacketCount",
    v.red_packet_img_stock AS "redPacketStock",
    IFNULL(p.red_packet_img_user_id,"0") AS "isRobRedPacket",
    IFNULL(s.red_packet_user_id,"0") AS "isWrong"
    from zx_app_img_red_packet v
    LEFT JOIN zx_app_img_red_packet_scrape s on v.red_packet_img_id = s.red_packet_id and #{memberAccount} = s.red_packet_user_id
    LEFT JOIN zx_app_img_red_packet_info p
    on v.red_packet_img_id = p.red_packet_img_id and p.red_packet_img_user_id = #{memberAccount}
    where v.red_packet_img_id in
    <foreach item="redPacketIds" index="index" collection="redPacketIds"
             open="(" separator="," close=")"> #{redPacketIds}
    </foreach>
  </select>

  <!-- 判断是否已经答错过 -->
  <select id="isScrapeRedPacket" resultType="java.lang.Integer" parameterType="java.util.Map">
       SELECT count(1)
        FROM ${tableName} WHERE red_packet_id = #{redPacketId}  AND red_packet_user_id = #{userId}
  </select>

  <!--更新红包信息绑定用户ID-->
  <update id="updateRedPacketInfoById" parameterType="java.util.Map">
      update  zx_app_img_red_packet_info set
          red_packet_img_user_id = #{robUserId},
          red_packet_img_date = sysdate()
      where red_packet_img_info_id = #{redPacketInfoId}
  </update>

  <!-- 查询过期的红包信息 -->
  <select id="queryRedPacketMoneyStock" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT SUM(a.red_packet_img_money) AS packetMoneyStock FROM zx_app_img_red_packet_info a WHERE a.red_packet_img_id = #{redPacketId} AND a.red_packet_img_user_id IS NULL
    </select>

  <!-- 删除过期的红包信息 -->
  <delete id="delRedPacketMoneyStock" parameterType="java.util.Map">
	    DELETE FROM zx_app_img_red_packet_info WHERE red_packet_img_id = #{redPacketId}  AND red_packet_img_user_id IS NULL
    </delete>
</mapper>