<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LinkRedPacketMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="red_packet_link_id" jdbcType="BIGINT" property="redPacketLinkId" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="red_packet_link_money_count" jdbcType="DECIMAL" property="redPacketLinkMoneyCount" />
    <result column="red_packet_link_count" jdbcType="INTEGER" property="redPacketLinkCount" />
    <result column="red_packet_link_stock" jdbcType="INTEGER" property="redPacketLinkStock" />
    <result column="red_packet_link_unit_amount" jdbcType="DECIMAL" property="redPacketLinkUnitAmount" />
    <result column="red_packet_link_info" jdbcType="VARCHAR" property="redPacketLinkInfo" />
    <result column="red_packet_link_luck_star" jdbcType="VARCHAR" property="redPacketLinkLuckStar" />
    <result column="red_packet_link_start_time" jdbcType="TIMESTAMP" property="redPacketLinkStartTime" />
    <result column="red_packet_link_end_time" jdbcType="TIMESTAMP" property="redPacketLinkEndTime" />
    <result column="red_packet_link_question" jdbcType="VARCHAR" property="redPacketLinkQuestion" />
    <result column="red_packet_link_options" jdbcType="VARCHAR" property="redPacketLinkOptions" />
    <result column="red_packet_link_answer" jdbcType="VARCHAR" property="redPacketLinkAnswer" />
    <result column="red_packet_link_sex" jdbcType="INTEGER" property="redPacketLinkSex" />
    <result column="red_packet_link_age_start" jdbcType="INTEGER" property="redPacketLinkAgeStart" />
    <result column="red_packet_link_age_end" jdbcType="INTEGER" property="redPacketLinkAgeEnd" />
    <result column="red_packet_link_date" jdbcType="TIMESTAMP" property="redPacketLinkDate" />
  </resultMap>
  <sql id="Base_Column_List">
    red_packet_link_id, member_account, red_packet_link_money_count, red_packet_link_count, 
    red_packet_link_stock, red_packet_link_unit_amount, red_packet_link_info, red_packet_link_luck_star, 
    red_packet_link_start_time, red_packet_link_end_time, red_packet_link_question, red_packet_link_options, 
    red_packet_link_answer, red_packet_link_sex, red_packet_link_age_start, red_packet_link_age_end, 
    red_packet_link_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_link_red_packet
    where red_packet_link_id = #{redPacketLinkId,jdbcType=BIGINT}
  </select>
  <delete id="delLinkRedPacketInfo" parameterType="java.lang.Long">
    delete from zx_app_link_red_packet
    where red_packet_link_id = #{redPacketLinkId,jdbcType=BIGINT}
  </delete>

  <insert id="saveLinkRedPacketInfo" parameterType="java.util.Map">
    insert into zx_app_link_red_packet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="redPacketLinkId != null">
        red_packet_link_id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="redPacketLinkMoneyCount != null">
        red_packet_link_money_count,
      </if>
      <if test="redPacketLinkCount != null">
        red_packet_link_count,
      </if>
      <if test="redPacketLinkStock != null">
        red_packet_link_stock,
      </if>
      <if test="redPacketLinkUnitAmount != null">
        red_packet_link_unit_amount,
      </if>
      <if test="redPacketLinkInfo != null">
        red_packet_link_info,
      </if>
      <if test="redPacketLinkLuckStar != null">
        red_packet_link_luck_star,
      </if>
      <if test="redPacketLinkQuestion != null">
        red_packet_link_question,
      </if>
      <if test="redPacketLinkOptions != null">
        red_packet_link_options,
      </if>
      <if test="redPacketLinkAnswer != null">
        red_packet_link_answer,
      </if>
      <if test="redPacketLinkSex != null">
        red_packet_link_sex,
      </if>
      <if test="redPacketLinkAgeStart != null">
        red_packet_link_age_start,
      </if>
      <if test="redPacketLinkAgeEnd != null">
        red_packet_link_age_end,
      </if>
        red_packet_link_date,
      <if test="provName != null and provName != ''">
        province_name,
      </if>
      <if test="cityName != null and cityName != ''">
        city_name,
      </if>
      <if test="countyName != null and countyName != ''">
        county_name,
      </if>
      <if test="redPacketLinkUrl != null and redPacketLinkUrl != ''">
        red_packet_link_url,
      </if>
        red_packet_link_type,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="redPacketLinkId != null">
        #{redPacketLinkId,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkMoneyCount != null">
        #{redPacketLinkMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketLinkCount != null">
        #{redPacketLinkCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkStock != null">
        #{redPacketLinkStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkUnitAmount != null">
        #{redPacketLinkUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketLinkInfo != null">
        #{redPacketLinkInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkLuckStar != null">
        #{redPacketLinkLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkQuestion != null">
        #{redPacketLinkQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkOptions != null">
        #{redPacketLinkOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkAnswer != null">
        #{redPacketLinkAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkSex != null">
        #{redPacketLinkSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkAgeStart != null">
        #{redPacketLinkAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkAgeEnd != null">
        #{redPacketLinkAgeEnd,jdbcType=INTEGER},
      </if>
        NOW(),
      <if test="provName != null and provName != ''">
        #{provName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null and cityName != ''">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyName != null and countyName != ''">
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkUrl != null and redPacketLinkUrl != ''">
        #{redPacketLinkUrl,jdbcType=VARCHAR},
      </if>
        #{redPacketLinkType},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_link_red_packet
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkMoneyCount != null">
        red_packet_link_money_count = #{redPacketLinkMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketLinkCount != null">
        red_packet_link_count = #{redPacketLinkCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkStock != null">
        red_packet_link_stock = #{redPacketLinkStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkUnitAmount != null">
        red_packet_link_unit_amount = #{redPacketLinkUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketLinkInfo != null">
        red_packet_link_info = #{redPacketLinkInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkLuckStar != null">
        red_packet_link_luck_star = #{redPacketLinkLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkStartTime != null">
        red_packet_link_start_time = #{redPacketLinkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketLinkEndTime != null">
        red_packet_link_end_time = #{redPacketLinkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketLinkQuestion != null">
        red_packet_link_question = #{redPacketLinkQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkOptions != null">
        red_packet_link_options = #{redPacketLinkOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkAnswer != null">
        red_packet_link_answer = #{redPacketLinkAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkSex != null">
        red_packet_link_sex = #{redPacketLinkSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkAgeStart != null">
        red_packet_link_age_start = #{redPacketLinkAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkAgeEnd != null">
        red_packet_link_age_end = #{redPacketLinkAgeEnd,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkDate != null">
        red_packet_link_date = #{redPacketLinkDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_link_id = #{redPacketLinkId,jdbcType=BIGINT}
  </update>

  <!-- 查询红包信息 -->
  <select id="queryRedPacketLog" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_link_id AS redPacketId,
      a.member_account AS redPacketUserId,
      a.red_packet_link_money_count AS redPacketMoneyCount,
      a.red_packet_link_count AS redPacketCount,
      a.red_packet_link_stock AS redPacketStock,
      a.red_packet_link_url AS redPacketUrl,
      a.red_packet_link_info AS redPacketInfo,
      a.red_packet_link_luck_star AS redPacketLuckStar,
      a.red_packet_link_start_time AS redPacketStartTime,
      a.red_packet_link_end_time AS redPacketEndTime,
      a.red_packet_link_question AS redPacketQuestion,
      a.red_packet_link_options AS redPacketOptions,
      a.red_packet_link_answer AS redPacketAnswer,
      a.red_packet_link_sex AS redPacketSex,
      a.red_packet_link_age_start AS redPacketAgeStart,
      a.red_packet_link_age_end AS redPacketAgeEnd,
      a.red_packet_link_date AS redPacketDate,
      b.head_img_url AS headImgUrl,
      b.nickname AS nickname,
      b.member_account AS memberAccount,
      a.province_name AS provinceName,
      a.city_name AS cityName,
      a.county_name AS countyName
  FROM
      zx_app_link_red_packet a
      LEFT JOIN t_member b ON a.member_account = b.member_account
    <where>
      <if test="redPacketLinkId != null and redPacketLinkId != ''">
        a.red_packet_link_id = #{redPacketLinkId}
      </if>
    </where>
    ORDER BY a.red_packet_link_date ASC
  </select>

  <!-- 新增抢红包记录 -->
  <insert id="insertListRedPacketInfo" parameterType="java.util.Map">
      insert into zx_app_link_red_packet_info(red_packet_link_info_id,red_packet_link_id,red_packet_link_money,red_packet_link_luck_star) values(#{redPacketLinkInfoId},#{redPacketLinkId},#{num},#{luckStar})
  </insert>

  <!-- 更新抢红包信息 -->
  <update id="updateByExampleSelective" parameterType="java.util.Map">
    update zx_app_link_red_packet
    <set>
      <if test="redPacketLinkCount != null">
        red_packet_link_count = #{redPacketLinkCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkStock != null">
        red_packet_link_stock = #{redPacketLinkStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketLinkUnitAmount != null and redPacketLinkUnitAmount != ''">
        red_packet_link_unit_amount = #{redPacketLinkUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketLinkLuckStar != null and redPacketLinkLuckStar != ''">
        red_packet_link_luck_star = #{redPacketLinkLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLinkStartTime != null">
        red_packet_link_start_time = #{redPacketLinkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketLinkEndTime != null">
        red_packet_link_end_time = #{redPacketLinkEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_link_id = #{redPacketLinkId,jdbcType=BIGINT}
  </update>

  <!-- 查询我的发布红包列表 -->
  <select id="queryMyReleaseRedPacket" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_link_id AS redPacketId,
      a.member_account AS memberAccount,
      a.red_packet_link_money_count AS redPacketMoneyCount,
      a.red_packet_link_count AS redPacketCount,
      a.red_packet_link_stock AS redPacketStock,
      DATE_FORMAT(a.red_packet_link_date,'%m月%d日') AS redPacketDate,
      (red_packet_link_count - red_packet_link_stock) AS robRedPacketCount,
      '链接广告' AS redPacketType
    FROM
      zx_app_link_red_packet AS a
    WHERE a.member_account = #{memberAccount}
    ORDER BY a.red_packet_link_date DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>

  <!--根据用户ID和红包ID查询红包详细信息 -->
  <select id="queryRedPacketDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_link_id AS redPacketLinkId,
      a.member_account AS redPacketLinkUserId,
      a.red_packet_link_money_count AS redPacketMoneyCount,
      a.red_packet_link_count AS redPacketLinkCount,
      a.red_packet_link_stock AS redPacketLinkStock,
      a.red_packet_link_info AS redPacketLinkInfo,
      a.red_packet_link_luck_star AS redPacketLinkLuckStar,
      a.red_packet_link_start_time AS redPacketLinkStartTime,
      a.red_packet_link_end_time AS redPacketLinkEndTime,
      a.red_packet_link_question AS redPacketLinkQuestion,
      a.red_packet_link_options AS redPacketLinkOptions,
      a.red_packet_link_answer AS redPacketLinkAnswer,
      a.red_packet_link_sex AS redPacketLinkSex,
      a.red_packet_link_age_start AS redPacketLinkAgeStart,
      a.red_packet_link_age_end AS redPacketLinkAgeEnd,
      a.red_packet_link_date AS redPacketLinkDate,
      a.red_packet_link_type AS redPacketLinkType
  FROM
      zx_app_link_red_packet a
      WHERE a.red_packet_link_id = #{redPacketLinkId} AND a.member_account = #{memberAccount}
  </select>

  <!--根据用户账号和红包id查询-->
  <select id="queryRedPacketInfoDetail" resultType="java.util.Map">
     SELECT
          red_packet_link_info_id AS redPacketLinkInfoId,
          red_packet_link_id AS redPacketLinkId,
          red_packet_link_user_id AS redPacketLinkUserId,
          red_packet_link_money AS redPacketLinkMoney,
          red_packet_link_luck_star AS redPacketLinkLuckStar,
          red_packet_link_date AS redPacketLinkDate
      FROM zx_app_link_red_packet_info WHERE red_packet_link_id = #{redPacketLinkId}  AND red_packet_link_user_id = #{robUserId}
        LIMIT 1
  </select>

  <!-- 返回一个随意产生的红包给用户 -->
  <select id="randomSelectRedPacketInfo" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        zx_app_link_red_packet_info.red_packet_link_info_id AS "redPacketInfoId",
        zx_app_link_red_packet_info.red_packet_link_id AS "redPacketId",
        zx_app_link_red_packet_info.red_packet_link_user_id AS "redPacketUserId",
        zx_app_link_red_packet_info.red_packet_link_money AS "redPacketMoney",
        zx_app_link_red_packet_info.red_packet_link_luck_star AS "redPacketLuckStar",
        zx_app_link_red_packet_info.red_packet_link_date AS "redPacketDate",
        UNIX_TIMESTAMP( zx_app_link_red_packet.red_packet_link_end_time ) - UNIX_TIMESTAMP( zx_app_link_red_packet.red_packet_link_start_time ) AS "timeSum"
    FROM
        zx_app_link_red_packet_info
        LEFT JOIN zx_app_link_red_packet ON zx_app_link_red_packet.red_packet_link_id = zx_app_link_red_packet_info.red_packet_link_id
    WHERE
        zx_app_link_red_packet_info.red_packet_link_id = #{redPacketLinkId}  AND zx_app_link_red_packet_info.red_packet_link_user_id IS NULL
        LIMIT 1
  </select>

  <!-- 根据红包信息ID查询出最终的红包信息 -->
  <select id="selectRedPacketInfoByInfoId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        zx_app_link_red_packet_info.red_packet_link_info_id   AS "redPacketInfoId",
        zx_app_link_red_packet_info.red_packet_link_id        AS "redPacketId",
        zx_app_link_red_packet.member_account                 AS "redPacketUserId",
        zx_app_link_red_packet_info.red_packet_link_user_id   AS "robRedPacUserId",
        zx_app_link_red_packet_info.red_packet_link_money     AS "redPacketMoney",
        zx_app_link_red_packet_info.red_packet_link_luck_star AS "redPacketLuckStar",
        zx_app_link_red_packet_info.red_packet_link_date      AS "redPacketDate",
        zx_app_link_red_packet.red_packet_link_stock          AS "redPacketStock",
        UNIX_TIMESTAMP(zx_app_link_red_packet.red_packet_link_end_time) - UNIX_TIMESTAMP(zx_app_link_red_packet.red_packet_link_start_time)  AS "timeSum"
      FROM zx_app_link_red_packet_info
              LEFT JOIN zx_app_link_red_packet ON zx_app_link_red_packet.red_packet_link_id = zx_app_link_red_packet_info.red_packet_link_id
      WHERE zx_app_link_red_packet_info.red_packet_link_info_id = #{redPacketInfoId}
      LIMIT 1
  </select>

  <!-- 根据当前登录人查询所抢红包 -->
  <select id="selectRedPacketInfoByRobUserId" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        b.red_packet_link_id AS redPacketId, -- 红包ID
        b.member_account AS memberAccount, -- 发布红包用户ID
        b.red_packet_link_money_count AS redPacketMoneyCount, -- 红包金额
        b.red_packet_link_count AS redPacketCount,-- 红包个数
        b.red_packet_link_info AS redPacketInfo,-- 红包显示信息
        b.red_packet_link_url AS redPacketLinkUrl, -- 红包视频链接地址
        UNIX_TIMESTAMP(b.red_packet_link_end_time) - UNIX_TIMESTAMP(b.red_packet_link_start_time)  AS timeSum, -- 抢红包总耗时
        b.red_packet_link_date AS redPacketDate,-- 发布红包时间
        a.head_img_url AS headImgUrl,-- 发布红包用户头像ID
        IFNULL(a.nickname,a.member_account) AS nickName, -- 发布红包用户昵称
        a.id AS userId -- 用户账号
    FROM
        zx_app_link_red_packet b
    LEFT JOIN t_member a ON a.member_account = b.red_packet_link_user_id
    WHERE b.red_packet_link_id IN ( SELECT red_packet_link_id FROM zx_app_link_red_packet_info
                                    WHERE red_packet_link_user_id = #{robUserId})
          AND b.red_packet_link_stock = 0
  </select>

  <!--根据图文红包id和用户id查询红包和用户信息-->
  <select id="selectUserRedPacketInfoAndRedPacketByUserId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        b.member_account AS memberAccount,-- 用户账号
        b.head_img_url AS headImgUrl,-- 头像图片链接
        IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
        c.red_packet_link_info AS redPacketInfo,-- 红包广告标语
        c.red_packet_link_count AS redPacketCount,-- 红包总个数
        c.red_packet_link_stock AS redPacketStock,-- 红包剩余个数
        c.red_packet_link_url AS redPacketLinkUrl,-- 红包视频链接地址
        UNIX_TIMESTAMP( c.red_packet_link_end_time ) - UNIX_TIMESTAMP( c.red_packet_link_start_time ) AS timeSum,-- 抢红包总耗时
        a.red_packet_link_money AS redPacketMoney,-- 抢红包金额
        a.red_packet_link_date AS redPacketDate -- 抢红包时间
    FROM
        zx_app_link_red_packet_info a
        LEFT JOIN zx_app_link_red_packet c ON c.red_packet_link_id = a.red_packet_link_id
        LEFT JOIN t_member b ON b.member_account = a.red_packet_link_user_id
    WHERE
        a.red_packet_link_user_id = #{robUserId} AND a.red_packet_link_id = #{redPacketLinkId}
        LIMIT 1
  </select>

  <!-- 根据红包id和用户id查询抢红包的详细信息,那个人抢了多少钱-->
  <select id="selectRedPacketInfoByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        b.id AS userId,-- 用户ID
        b.head_img_url AS headImgUrl,-- 头像图片链接
        IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
        b.member_account AS memberAccount,-- 用户账号
        a.red_packet_link_money AS redPacketMoney,-- 非当前用户抢钱金额
        a.red_packet_link_luck_star AS redPacketLuckStar,-- 非当前用户是否是手气最佳
        a.red_packet_link_date AS redPacketDate -- 抢红包时间
    FROM
        zx_app_link_red_packet_info a
        LEFT JOIN t_member b ON b.member_account = a.red_packet_link_user_id
    WHERE
        a.red_packet_link_id = #{redPacketLinkId}
        AND a.red_packet_link_user_id IS NOT NULL
  </select>
  <!-- 根据红包ID查询红包详细信息 -->
  <select id="checkUserIsRobRedPacket" resultType="int">
    select COUNT(1) from zx_app_link_red_packet_info WHERE red_packet_link_id = #{redPacketLinkId,jdbcType=BIGINT}   AND red_packet_link_user_id = #{memberAccount,jdbcType=VARCHAR}
  </select>
  <!-- 查看用户抢红包成功失败信息 -->
  <select id="selectStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      select v.red_packet_link_stock AS "redPacketStock",
             v.red_packet_link_count AS redPacketCount,
             IFNULL(s.red_packet_user_id,"0") AS "isWrong"
             from zx_app_link_red_packet v
             LEFT JOIN zx_app_link_red_packet_scrape s on v.red_packet_link_id = s.red_packet_id and #{memberAccount,jdbcType=VARCHAR} = s.red_packet_user_id
             where v.red_packet_link_id = #{redPacketLinkId,jdbcType=BIGINT}
  </select>

  <!-- 当前用户是否领取该红包 参数为 memberAccount（当前用户账号）,redPackageIds（红包Id） 返回值 -->
  <select id="selectListStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
    select v.red_packet_link_id AS "redPacketId",
    v.red_packet_link_count AS "redPacketCount",
    v.red_packet_link_stock AS "redPacketStock",
    IFNULL(p.red_packet_link_user_id,"0") AS "isRobRedPacket",
    IFNULL(s.red_packet_user_id,"0") AS "isWrong"
    from zx_app_link_red_packet v
    LEFT JOIN zx_app_link_red_packet_scrape s on v.red_packet_link_id = s.red_packet_id and #{memberAccount} = s.red_packet_user_id
    LEFT JOIN zx_app_link_red_packet_info p
    on v.red_packet_link_id = p.red_packet_link_id and p.red_packet_link_user_id = #{memberAccount}
    where v.red_packet_link_id in
    <foreach item="redPacketIds" index="index" collection="redPacketIds"
             open="(" separator="," close=")"> #{redPacketIds}
    </foreach>
  </select>

  <!-- 判断是否已经答错过 -->
  <select id="isScrapeRedPacket" resultType="java.lang.Integer" parameterType="java.util.Map">
       SELECT count(1)
        FROM ${tableName} WHERE red_packet_id = #{redPacketId}  AND red_packet_user_id = #{userId}
  </select>

  <!--更新红包信息绑定用户ID-->
  <update id="updateRedPacketInfoById" parameterType="java.util.Map">
      update  zx_app_link_red_packet_info set
          red_packet_link_user_id = #{robUserId},
          red_packet_link_date = sysdate()
      where red_packet_link_info_id = #{redPacketInfoId}
  </update>
</mapper>