<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RedPacketMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="red_packet_id" jdbcType="BIGINT" property="redPacketId" />
    <result column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="red_packet_money_count" jdbcType="DECIMAL" property="redPacketMoneyCount" />
    <result column="red_packet_count" jdbcType="INTEGER" property="redPacketCount" />
    <result column="red_packet_stock" jdbcType="INTEGER" property="redPacketStock" />
    <result column="red_packet_unit_amount" jdbcType="DECIMAL" property="redPacketUnitAmount" />
    <result column="red_packet_info" jdbcType="VARCHAR" property="redPacketInfo" />
    <result column="red_packet_luck_star" jdbcType="VARCHAR" property="redPacketLuckStar" />
    <result column="red_packet_start_time" jdbcType="TIMESTAMP" property="redPacketStartTime" />
    <result column="red_packet_end_time" jdbcType="TIMESTAMP" property="redPacketEndTime" />
    <result column="red_packet_question" jdbcType="VARCHAR" property="redPacketQuestion" />
    <result column="red_packet_options" jdbcType="VARCHAR" property="redPacketOptions" />
    <result column="red_packet_answer" jdbcType="VARCHAR" property="redPacketAnswer" />
    <result column="red_packet_sex" jdbcType="INTEGER" property="redPacketSex" />
    <result column="red_packet_age_start" jdbcType="INTEGER" property="redPacketAgeStart" />
    <result column="red_packet_age_end" jdbcType="INTEGER" property="redPacketAgeEnd" />
    <result column="red_packet_date" jdbcType="TIMESTAMP" property="redPacketDate" />
  </resultMap>
  <sql id="Base_Column_List">
    red_packet_id, member_account, red_packet_money_count, red_packet_count, red_packet_stock, 
    red_packet_unit_amount, red_packet_info, red_packet_luck_star, red_packet_start_time, 
    red_packet_end_time, red_packet_question, red_packet_options, red_packet_answer, 
    red_packet_sex, red_packet_age_start, red_packet_age_end, red_packet_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_red_packet
    where red_packet_id = #{redPacketId,jdbcType=BIGINT}
  </select>
  <delete id="delRedPacketInfo" parameterType="java.lang.Long">
    delete from zx_app_red_packet
    where red_packet_id = #{redPacketId,jdbcType=BIGINT}
  </delete>

  <insert id="saveRedPacketInfo" parameterType="java.util.Map">
    insert into zx_app_red_packet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="redPacketId != null">
        red_packet_id,
      </if>
      <if test="memberAccount != null">
        member_account,
      </if>
      <if test="redPacketMoneyCount != null">
        red_packet_money_count,
      </if>
      <if test="redPacketCount != null">
        red_packet_count,
      </if>
      <if test="redPacketStock != null">
        red_packet_stock,
      </if>
      <if test="redPacketUnitAmount != null">
        red_packet_unit_amount,
      </if>
      <if test="redPacketInfo != null">
        red_packet_info,
      </if>
      <if test="redPacketLuckStar != null">
        red_packet_luck_star,
      </if>
      <if test="redPacketQuestion != null">
        red_packet_question,
      </if>
      <if test="redPacketOptions != null">
        red_packet_options,
      </if>
      <if test="redPacketAnswer != null">
        red_packet_answer,
      </if>
      <if test="redPacketSex != null">
        red_packet_sex,
      </if>
      <if test="redPacketAgeStart != null">
        red_packet_age_start,
      </if>
      <if test="redPacketAgeEnd != null">
        red_packet_age_end,
      </if>
        red_packet_date,
      <if test="provName != null and provName != ''">
          province_name,
      </if>
      <if test="cityName != null and cityName != ''">
          city_name,
      </if>
      <if test="countyName != null and countyName != ''">
          county_name,
      </if>
        red_packet_type,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="redPacketId != null">
        #{redPacketId,jdbcType=BIGINT},
      </if>
      <if test="memberAccount != null">
        #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="redPacketMoneyCount != null">
        #{redPacketMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketCount != null">
        #{redPacketCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketStock != null">
        #{redPacketStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketUnitAmount != null">
        #{redPacketUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketInfo != null">
        #{redPacketInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLuckStar != null">
        #{redPacketLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketQuestion != null">
        #{redPacketQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketOptions != null">
        #{redPacketOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketAnswer != null">
        #{redPacketAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketSex != null">
        #{redPacketSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketAgeStart != null">
        #{redPacketAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketAgeEnd != null">
        #{redPacketAgeEnd,jdbcType=INTEGER},
      </if>
        NOW(),
        <if test="provName != null and provName != ''">
            #{provName,jdbcType=VARCHAR},
        </if>
        <if test="cityName != null and cityName != ''">
            #{cityName,jdbcType=VARCHAR},
        </if>
        <if test="countyName != null and countyName != ''">
            #{countyName,jdbcType=VARCHAR},
        </if>
            #{redPacketType},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_red_packet
    <set>
      <if test="memberAccount != null">
        member_account = #{memberAccount,jdbcType=VARCHAR},
      </if>
      <if test="redPacketMoneyCount != null">
        red_packet_money_count = #{redPacketMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketCount != null">
        red_packet_count = #{redPacketCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketStock != null">
        red_packet_stock = #{redPacketStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketUnitAmount != null">
        red_packet_unit_amount = #{redPacketUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketInfo != null">
        red_packet_info = #{redPacketInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketLuckStar != null">
        red_packet_luck_star = #{redPacketLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketStartTime != null">
        red_packet_start_time = #{redPacketStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketEndTime != null">
        red_packet_end_time = #{redPacketEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketQuestion != null">
        red_packet_question = #{redPacketQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketOptions != null">
        red_packet_options = #{redPacketOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketAnswer != null">
        red_packet_answer = #{redPacketAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketSex != null">
        red_packet_sex = #{redPacketSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketAgeStart != null">
        red_packet_age_start = #{redPacketAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketAgeEnd != null">
        red_packet_age_end = #{redPacketAgeEnd,jdbcType=INTEGER},
      </if>
      <if test="redPacketDate != null">
        red_packet_date = #{redPacketDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_id = #{redPacketId,jdbcType=BIGINT}
  </update>

  <!-- 查询红包信息 -->
  <select id="queryRedPacketLog" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_id AS redPacketId,
      a.member_account AS redPacketUserId,
      a.red_packet_money_count AS redPacketMoneyCount,
      a.red_packet_count AS redPacketCount,
      a.red_packet_stock AS redPacketStock,
      a.red_packet_info AS redPacketInfo,
      a.red_packet_luck_star AS redPacketLuckStar,
      a.red_packet_start_time AS redPacketStartTime,
      a.red_packet_end_time AS redPacketEndTime,
      a.red_packet_question AS redPacketQuestion,
      a.red_packet_options AS redPacketOptions,
      a.red_packet_answer AS redPacketAnswer,
      a.red_packet_sex AS redPacketSex,
      a.red_packet_age_start AS redPacketAgeStart,
      a.red_packet_age_end AS redPacketAgeEnd,
      a.red_packet_date AS redPacketDate,
      b.head_img_url AS headImgUrl,
      b.nickname AS nickname,
      b.member_account AS memberAccount,
      a.province_name AS provinceName,
      a.city_name AS cityName,
      a.county_name AS countyName
  FROM
      zx_app_red_packet a
      LEFT JOIN t_member b ON a.member_account = b.member_account
      <where>
        <if test="redPacketId != null and redPacketId != ''">
            a.red_packet_id = #{redPacketId}
        </if>
      </where>
      ORDER BY a.red_packet_date ASC
  </select>

  <!-- 新增抢红包记录 -->
  <insert id="insertListRedPacketInfo" parameterType="java.util.Map">
      insert into zx_app_red_packet_info(red_packet_info_id,red_packet_id,red_packet_money,red_packet_luck_star) values(#{redPacketInfoId},#{redPacketId},#{num},#{luckStar})
  </insert>

  <!-- 更新抢红包信息 -->
  <update id="updateByExampleSelective" parameterType="java.util.Map">
    update zx_app_red_packet
    <set>
      <if test="redPacketCount != null">
        red_packet_count = #{redPacketCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketStock != null">
        red_packet_stock = #{redPacketStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketUnitAmount != null and redPacketUnitAmount != ''">
        red_packet_unit_amount = #{redPacketUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketLuckStar != null and redPacketLuckStar != ''">
        red_packet_luck_star = #{redPacketLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketStartTime != null">
        red_packet_start_time = #{redPacketStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketEndTime != null">
        red_packet_end_time = #{redPacketEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_id = #{redPacketId,jdbcType=BIGINT}
  </update>

  <!-- 查询我的发布红包列表 -->
  <select id="queryMyReleaseRedPacket" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_id AS redPacketId,
      a.member_account AS memberAccount,
      a.red_packet_money_count AS redPacketMoneyCount,
      a.red_packet_count AS redPacketCount,
      a.red_packet_stock AS redPacketStock,
      DATE_FORMAT(a.red_packet_date,'%m月%d日%H:%i') AS redPacketDate,
      a.red_packet_date AS redPacketDateSort,
      (red_packet_count - red_packet_stock) AS robRedPacketCount,
      '众享红包' AS redPacketType
    FROM
      zx_app_red_packet AS a
    WHERE a.member_account = #{memberAccount}
    ORDER BY a.red_packet_date DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
        LIMIT #{start}, #{limit}
    </if>
  </select>

  <!-- 判断是否已经答错过 -->
  <select id="isScrapeRedPacket" resultType="java.lang.Integer" parameterType="java.util.Map">
       SELECT count(1)
        FROM ${tableName} WHERE red_packet_id = #{redPacketId}  AND red_packet_user_id = #{userId}
  </select>

  <!--根据用户ID和红包ID查询红包详细信息 -->
  <select id="queryRedPacketDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_id AS redPacketId,
      a.member_account AS redPacketUserId,
      a.red_packet_money_count AS redPacketMoneyCount,
      a.red_packet_count AS redPacketCount,
      a.red_packet_stock AS redPacketStock,
      a.red_packet_info AS redPacketInfo,
      a.red_packet_luck_star AS redPacketLuckStar,
      a.red_packet_start_time AS redPacketStartTime,
      a.red_packet_end_time AS redPacketEndTime,
      a.red_packet_question AS redPacketQuestion,
      a.red_packet_options AS redPacketOptions,
      a.red_packet_answer AS redPacketAnswer,
      a.red_packet_sex AS redPacketSex,
      a.red_packet_age_start AS redPacketAgeStart,
      a.red_packet_age_end AS redPacketAgeEnd,
      a.red_packet_date AS redPacketDate,
      a.red_packet_type AS redPacketType
  FROM
      zx_app_red_packet a
      WHERE a.red_packet_id = #{redPacketId} AND member_account = #{memberAccount}
  </select>

  <!--根据用户账号和红包id查询-->
  <select id="queryRedPacketInfoDetail" resultType="java.util.Map">
       SELECT
            red_packet_info_id AS redPacketInfoId,
            red_packet_id AS redPacketId,
            red_packet_user_id AS redPacketUserId,
            red_packet_money AS redPacketMoney,
            red_packet_luck_star AS redPacketLuckStar,
            red_packet_date AS redPacketDate
        FROM zx_app_red_packet_info WHERE red_packet_id = #{redPacketId}  AND red_packet_user_id = #{robUserId}
	      LIMIT 1
    </select>

  <!--随机获取红包信息-->
  <select id="randomSelectRedPacketInfo" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        zx_app_red_packet_info.red_packet_info_id AS "redPacketInfoId",
        zx_app_red_packet_info.red_packet_id AS "redPacketId",
        zx_app_red_packet_info.red_packet_user_id AS "redPacketUserId",
        zx_app_red_packet_info.red_packet_money AS "redPacketMoney",
        zx_app_red_packet_info.red_packet_luck_star AS "redPacketLuckStar",
        zx_app_red_packet_info.red_packet_date AS "redPacketDate",
        UNIX_TIMESTAMP(zx_app_red_packet.red_packet_end_time) - UNIX_TIMESTAMP(zx_app_red_packet.red_packet_start_time)  AS "timeSum"
      FROM zx_app_red_packet_info
              LEFT JOIN zx_app_red_packet ON zx_app_red_packet.red_packet_id = zx_app_red_packet_info.red_packet_id
      WHERE zx_app_red_packet_info.red_packet_id = #{redPacketId}  AND zx_app_red_packet_info.red_packet_user_id IS NULL
      LIMIT 1
  </select>

  <!--更新红包信息绑定用户ID-->
  <update id="updateRedPacketInfoById" parameterType="java.util.Map">
      update zx_app_red_packet_info set
          red_packet_user_id = #{robUserId},
          red_packet_date = sysdate()
      where red_packet_info_id = #{redPacketInfoId}
  </update>

  <!-- 根据红包信息ID查询出最终的红包信息 -->
  <select id="selectRedPacketInfoByInfoId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
          zx_app_red_packet_info.red_packet_info_id AS "redPacketInfoId",
          zx_app_red_packet_info.red_packet_id AS "redPacketId",
          zx_app_red_packet.member_account AS "redPacketUserId",
          zx_app_red_packet_info.red_packet_user_id AS "robRedPacketUserId",
		  zx_app_red_packet_info.red_packet_money AS "redPacketMoney",
		  zx_app_red_packet_info.red_packet_luck_star AS "redPacketLuckStar",
          zx_app_red_packet_info.red_packet_date AS "redPacketDate",
          zx_app_red_packet.red_packet_stock AS "redPacketStock",
		  UNIX_TIMESTAMP(zx_app_red_packet.red_packet_end_time) - UNIX_TIMESTAMP(zx_app_red_packet.red_packet_start_time)  AS "timeSum"
        FROM zx_app_red_packet_info
				LEFT JOIN zx_app_red_packet ON zx_app_red_packet.red_packet_id = zx_app_red_packet_info.red_packet_id
        WHERE zx_app_red_packet_info.red_packet_info_id = #{redPacketInfoId}
        LIMIT 1
	</select>

  <!-- 根据当前登录人查询所抢红包 -->
  <select id="selectRedPacketInfoByRobUserId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
          b.red_packet_id AS redPacketId, -- 红包ID
          b.member_account AS memberAccount, -- 发布红包用户ID
          b.red_packet_money_count AS redPacketMoneyCount, -- 红包金额
          b.red_packet_count AS redPacketCount,-- 红包个数
          b.red_packet_info AS redPacketInfo,-- 红包显示信息
          UNIX_TIMESTAMP(b.red_packet_end_time) - UNIX_TIMESTAMP(b.red_packet_start_time)  AS timeSum, -- 抢红包总耗时
          b.red_packet_date AS redPacketDate,-- 发布红包时间
          a.head_img_url AS headImgUrl,-- 发布红包用户头像ID
          IFNULL(a.nickname,a.member_account) AS nickName, -- 发布红包用户昵称
          a.id AS userId -- 用户账号
      FROM
          zx_app_red_packet b
      LEFT JOIN t_member a ON a.member_account = b.member_account
      WHERE b.red_packet_id IN ( SELECT red_packet_id FROM zx_app_red_packet_info WHERE red_packet_user_id = #{robUserId})
            AND b.red_packet_stock = 0
    </select>

  <!-- 通过当前用户ID查询此用户的抢红包的信息和红包信息 -->
  <select id="selectUserRedPacketInfoAndRedPacketByUserId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
		b.head_img_url AS headImgUrl,-- 头像图片链接
		IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
		b.member_account AS phoneNumber,-- 用户账号
		a.red_packet_info AS redPacketInfo,-- 红包广告标语
		a.red_packet_count AS redPacketCount,-- 红包总个数
		a.red_packet_stock AS redPacketStock,-- 红包剩余个数
		UNIX_TIMESTAMP( a.red_packet_end_time ) - UNIX_TIMESTAMP( a.red_packet_start_time ) AS timeSum-- 抢红包总耗时
      FROM
        zx_app_red_packet a
        LEFT JOIN t_member b ON b.member_account = a.member_account
        WHERE a.red_packet_id = #{redPacketId}
    </select>

  <!-- 通过红包ID和当前登录人ID查询当前用户是否抢过红包 -->
  <select id="queryRedPacketInfoByRedPacketIdAndUserId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
          zx_app_red_packet_info.red_packet_money AS "redPacketMoney",
          zx_app_red_packet_info.red_packet_date AS "redPacketDate"
      FROM
          zx_app_red_packet_info
      WHERE
          zx_app_red_packet_info.red_packet_id = #{redPacketId}
          AND zx_app_red_packet_info.red_packet_user_id = #{robUserId}
    </select>

  <!-- 查询单个红包的抢红包信息,比如谁抢过了,抢了多少钱,手气最佳 -->
  <select id="selectRedPacketInfoByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
		b.id AS userId, -- 用户ID
		a.red_packet_money AS redPacketMoney,-- 非当前用户抢钱金额
		a.red_packet_luck_star AS redPacketLuckStar,-- 非当前用户是否是手气最佳
		b.head_img_url AS headImgUrl,-- 头像图片链接
		IFNULL(b.nickname,b.member_account) AS nickName, -- 昵称
		b.member_account AS memberAccount, -- 用户账号
		a.red_packet_date AS redPacketDate -- 抢红包时间
      FROM
        zx_app_red_packet_info a
        LEFT JOIN t_member b ON b.member_account = a.red_packet_user_id
      WHERE
        a.red_packet_id = #{redPacketId}
        AND a.red_packet_user_id IS NOT NULL
    </select>

    <!-- 根据红包ID查询红包详细信息 -->
    <select id="checkUserIsRobRedPacket" resultType="int">
      select COUNT(1) from zx_app_red_packet_info WHERE red_packet_id = #{redPacketId,jdbcType=BIGINT}
      AND red_packet_user_id = #{memberAccount,jdbcType=VARCHAR}
    </select>

    <!-- 查看用户抢红包成功失败信息 -->
    <select id="selectStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT v.red_packet_stock AS "redPacketStock",
       v.red_packet_count AS "redPacketCount",
       IFNULL(s.red_packet_user_id,"0") AS "isWrong"
       FROM zx_app_red_packet v
       LEFT JOIN zx_app_red_packet_scrape s on v.red_packet_id = s.red_packet_id and #{memberAccount,jdbcType=VARCHAR} = s.red_packet_user_id
       WHERE v.red_packet_id = #{redPacketId,jdbcType=BIGINT}
    </select>

    <!-- 当前用户是否领取该红包 参数为 memberAccount（当前用户账号）,redPackageIds（红包Id） 返回值 -->
    <select id="selectListStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT v.red_packet_id AS "redPacketId",
        v.red_packet_count AS "redPacketCount",
        v.red_packet_stock AS "redPacketStock",
        IFNULL(p.red_packet_user_id,"0") AS "isRobRedPacket",
        IFNULL(s.red_packet_user_id,"0") AS "isWrong"
        from zx_app_red_packet v
        LEFT JOIN zx_app_red_packet_scrape s on v.red_packet_id = s.red_packet_id and #{memberAccount} = s.red_packet_user_id
        LEFT JOIN zx_app_red_packet_info p
        on v.red_packet_id = p.red_packet_id and p.red_packet_user_id = #{memberAccount}
        where v.red_packet_id in
        <foreach item="redPacketIds" index="index" collection="redPacketIds"
                 open="(" separator="," close=")"> #{redPacketIds}
        </foreach>
    </select>

    <!-- 查询地区列表 -->
    <select id="queryAreaList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			area_code areaCode,
			area_name areaName
		FROM
			t_bs_area_info
		WHERE parent_area_code = #{parentAreaCode,jdbcType=INTEGER}
	</select>

    <!-- 回答错误新增信息 -->
    <insert id="insertScrapeRedPacket" parameterType="java.util.Map">
        insert into ${tableName}(scrape_id,red_packet_id,red_packet_user_id,crt_time) values(#{scrapeId},#{redPacketId},#{userId},NOW())
    </insert>

</mapper>