<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VideoRedPacketMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="red_packet_video_id" jdbcType="BIGINT" property="redPacketVideoId" />
    <result column="red_packet_video_user_id" jdbcType="VARCHAR" property="redPacketVideoUserId" />
    <result column="red_packet_video_money_count" jdbcType="DECIMAL" property="redPacketVideoMoneyCount" />
    <result column="red_packet_video_count" jdbcType="INTEGER" property="redPacketVideoCount" />
    <result column="red_packet_video_stock" jdbcType="INTEGER" property="redPacketVideoStock" />
    <result column="red_packet_video_unit_amount" jdbcType="DECIMAL" property="redPacketVideoUnitAmount" />
    <result column="red_packet_video_info" jdbcType="VARCHAR" property="redPacketVideoInfo" />
    <result column="red_packet_video_luck_star" jdbcType="VARCHAR" property="redPacketVideoLuckStar" />
    <result column="red_packet_video_start_time" jdbcType="TIMESTAMP" property="redPacketVideoStartTime" />
    <result column="red_packet_video_end_time" jdbcType="TIMESTAMP" property="redPacketVideoEndTime" />
    <result column="red_packet_video_question" jdbcType="VARCHAR" property="redPacketVideoQuestion" />
    <result column="red_packet_video_options" jdbcType="VARCHAR" property="redPacketVideoOptions" />
    <result column="red_packet_video_answer" jdbcType="VARCHAR" property="redPacketVideoAnswer" />
    <result column="red_packet_video_sex" jdbcType="INTEGER" property="redPacketVideoSex" />
    <result column="red_packet_video_age_start" jdbcType="INTEGER" property="redPacketVideoAgeStart" />
    <result column="red_packet_video_age_end" jdbcType="INTEGER" property="redPacketVideoAgeEnd" />
    <result column="red_packet_video_date" jdbcType="TIMESTAMP" property="redPacketVideoDate" />
  </resultMap>
  <sql id="Base_Column_List">
    red_packet_video_id, red_packet_video_user_id, red_packet_video_money_count, red_packet_video_count, 
    red_packet_video_stock, red_packet_video_unit_amount, red_packet_video_info, red_packet_video_luck_star, 
    red_packet_video_start_time, red_packet_video_end_time, red_packet_video_question, 
    red_packet_video_options, red_packet_video_answer, red_packet_video_sex, red_packet_video_age_start, 
    red_packet_video_age_end, red_packet_video_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_app_video_red_packet
    where red_packet_video_id = #{redPacketVideoId,jdbcType=BIGINT}
  </select>
  <delete id="delVideoRedPacketInfo" parameterType="java.lang.Long">
    delete from zx_app_video_red_packet
    where red_packet_video_id = #{redPacketVideoId,jdbcType=BIGINT}
  </delete>

  <!-- 新增视频红包记录 -->
  <insert id="saveVideoRedPacketInfo" parameterType="java.util.Map">
    insert into zx_app_video_red_packet
    <trim prefix="(" suffix=")" suffixOverrides=",">
        red_packet_video_id,
      <if test="redPacketVideoUserId != null">
        red_packet_video_user_id,
      </if>
      <if test="redPacketVideoMoneyCount != null">
        red_packet_video_money_count,
      </if>
      <if test="redPacketVideoCount != null">
        red_packet_video_count,
      </if>
      <if test="redPacketVideoStock != null">
        red_packet_video_stock,
      </if>
      <if test="redPacketVideoUnitAmount != null">
        red_packet_video_unit_amount,
      </if>
      <if test="redPacketVideoInfo != null">
        red_packet_video_info,
      </if>
      <if test="redPacketVideoLuckStar != null">
        red_packet_video_luck_star,
      </if>
      <if test="redPacketVideoStartTime != null and redPacketVideoStartTime != ''">
        red_packet_video_start_time,
      </if>
      <if test="redPacketVideoEndTime != null and redPacketVideoEndTime != ''">
        red_packet_video_end_time,
      </if>
      <if test="redPacketVideoQuestion != null">
        red_packet_video_question,
      </if>
      <if test="redPacketVideoOptions != null">
        red_packet_video_options,
      </if>
      <if test="redPacketVideoAnswer != null">
        red_packet_video_answer,
      </if>
      <if test="redPacketVideoSex != null">
        red_packet_video_sex,
      </if>
      <if test="redPacketVideoAgeStart != null">
        red_packet_video_age_start,
      </if>
      <if test="redPacketVideoAgeEnd != null">
        red_packet_video_age_end,
      </if>
        red_packet_video_date,
      <if test="provName != null and provName != ''">
        province_name,
      </if>
      <if test="cityName != null and cityName != ''">
        city_name,
      </if>
      <if test="countyName != null and countyName != ''">
        county_name,
      </if>
      <if test="redPacketVideoUrl != null">
        red_packet_video_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{redPacketVideoId,jdbcType=BIGINT},
      <if test="redPacketVideoUserId != null">
        #{redPacketVideoUserId,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoMoneyCount != null">
        #{redPacketVideoMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketVideoCount != null">
        #{redPacketVideoCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoStock != null">
        #{redPacketVideoStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoUnitAmount != null">
        #{redPacketVideoUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketVideoInfo != null">
        #{redPacketVideoInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoLuckStar != null">
        #{redPacketVideoLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoStartTime != null and redPacketVideoStartTime != ''">
        #{redPacketVideoStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketVideoEndTime != null and redPacketVideoEndTime != ''">
        #{redPacketVideoEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketVideoQuestion != null">
        #{redPacketVideoQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoOptions != null">
        #{redPacketVideoOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoAnswer != null">
        #{redPacketVideoAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoSex != null">
        #{redPacketVideoSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoAgeStart != null">
        #{redPacketVideoAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoAgeEnd != null">
        #{redPacketVideoAgeEnd,jdbcType=INTEGER},
      </if>
        NOW(),
      <if test="provName != null and provName != ''">
        #{provName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null and cityName != ''">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyName != null and countyName != ''">
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoUrl != null">
        #{redPacketVideoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_video_red_packet
    <set>
      <if test="redPacketVideoUserId != null">
        red_packet_video_user_id = #{redPacketVideoUserId,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoMoneyCount != null">
        red_packet_video_money_count = #{redPacketVideoMoneyCount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketVideoCount != null">
        red_packet_video_count = #{redPacketVideoCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoStock != null">
        red_packet_video_stock = #{redPacketVideoStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoUnitAmount != null">
        red_packet_video_unit_amount = #{redPacketVideoUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketVideoInfo != null">
        red_packet_video_info = #{redPacketVideoInfo,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoLuckStar != null">
        red_packet_video_luck_star = #{redPacketVideoLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoStartTime != null">
        red_packet_video_start_time = #{redPacketVideoStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketVideoEndTime != null">
        red_packet_video_end_time = #{redPacketVideoEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketVideoQuestion != null">
        red_packet_video_question = #{redPacketVideoQuestion,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoOptions != null">
        red_packet_video_options = #{redPacketVideoOptions,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoAnswer != null">
        red_packet_video_answer = #{redPacketVideoAnswer,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoSex != null">
        red_packet_video_sex = #{redPacketVideoSex,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoAgeStart != null">
        red_packet_video_age_start = #{redPacketVideoAgeStart,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoAgeEnd != null">
        red_packet_video_age_end = #{redPacketVideoAgeEnd,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoDate != null">
        red_packet_video_date = #{redPacketVideoDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_video_id = #{redPacketVideoId,jdbcType=BIGINT}
  </update>

  <!-- 查询红包信息 -->
  <select id="queryRedPacketLog" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_video_id AS redPacketId,
      a.red_packet_video_user_id AS redPacketUserId,
      a.red_packet_video_money_count AS redPacketMoneyCount,
      a.red_packet_video_count AS redPacketCount,
      a.red_packet_video_stock AS redPacketStock,
      a.red_packet_video_url AS redPacketUrl,
      a.red_packet_video_img AS redPacketVideoImg,
      a.red_packet_video_info AS redPacketInfo,
      a.red_packet_video_luck_star AS redPacketLuckStar,
      a.red_packet_video_start_time AS redPacketStartTime,
      a.red_packet_video_end_time AS redPacketEndTime,
      a.red_packet_video_question AS redPacketQuestion,
      a.red_packet_video_options AS redPacketOptions,
      a.red_packet_video_answer AS redPacketAnswer,
      a.red_packet_video_sex AS redPacketSex,
      a.red_packet_video_age_start AS redPacketAgeStart,
      a.red_packet_video_age_end AS redPacketAgeEnd,
      a.red_packet_video_date AS redPacketDate,
      b.head_img_url AS headImgUrl,
      b.nickname AS nickname,
      b.member_account AS memberAccount,
      a.province_name AS provinceName,
      a.city_name AS cityName,
      a.county_name AS countyName
  FROM
      zx_app_video_red_packet a
      LEFT JOIN t_member b ON a.red_packet_video_user_id = b.member_account
    <where>
      <if test="redPacketVideoId != null and redPacketVideoId != ''">
        a.red_packet_video_id = #{redPacketVideoId}
      </if>
    </where>
  </select>

  <!-- 新增抢红包记录 -->
  <insert id="insertListRedPacketInfo" parameterType="java.util.Map">
      insert into zx_app_video_red_packet_info(red_packet_video_info_id,red_packet_video_id,red_packet_video_money,red_packet_video_luck_star) values(#{redPacketVideoInfoId},#{redPacketVideoId},#{num},#{luckStar})
  </insert>

  <!-- 更新抢红包信息 -->
  <update id="updateByExampleSelective" parameterType="java.util.Map">
    update zx_app_video_red_packet
    <set>
      <if test="redPacketVideoCount != null">
        red_packet_video_count = #{redPacketVideoCount,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoStock != null">
        red_packet_video_stock = #{redPacketVideoStock,jdbcType=INTEGER},
      </if>
      <if test="redPacketVideoUnitAmount != null and redPacketVideoUnitAmount != ''">
        red_packet_video_unit_amount = #{redPacketVideoUnitAmount,jdbcType=DECIMAL},
      </if>
      <if test="redPacketVideoLuckStar != null and redPacketVideoLuckStar != ''">
        red_packet_video_luck_star = #{redPacketVideoLuckStar,jdbcType=VARCHAR},
      </if>
      <if test="redPacketVideoStartTime != null">
        red_packet_video_start_time = #{redPacketVideoStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="redPacketVideoEndTime != null">
        red_packet_video_end_time = #{redPacketVideoEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where red_packet_video_id = #{redPacketVideoId,jdbcType=BIGINT}
  </update>

  <!-- 查询我的发布红包列表 -->
  <select id="queryMyReleaseRedPacket" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_video_id AS redPacketId,
      a.red_packet_video_user_id AS memberAccount,
      a.red_packet_video_money_count AS redPacketMoneyCount,
      a.red_packet_video_count AS redPacketCount,
      a.red_packet_video_stock AS redPacketStock,
      DATE_FORMAT(a.red_packet_video_date,'%m月%d日') AS redPacketDate,
      (a.red_packet_video_count - a.red_packet_video_stock) AS robRedPacketCount,
      '视频广告' AS redPacketType
  FROM
      zx_app_video_red_packet AS a
  WHERE a.red_packet_video_user_id = #{memberAccount}
  </select>

  <!--根据用户ID和红包ID查询红包详细信息 -->
  <select id="queryRedPacketDetail" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
      a.red_packet_video_id AS redPacketVideoId,
      a.red_packet_video_user_id AS redPacketVideoUserId,
      a.red_packet_video_money_count AS redPacketMoneyCount,
      a.red_packet_video_count AS redPacketVideoCount,
      a.red_packet_video_stock AS redPacketVideoStock,
      a.red_packet_video_info AS redPacketVideoInfo,
      a.red_packet_video_luck_star AS redPacketVideoLuckStar,
      a.red_packet_video_start_time AS redPacketVideoStartTime,
      a.red_packet_video_end_time AS redPacketVideoEndTime,
      a.red_packet_video_question AS redPacketVideoQuestion,
      a.red_packet_video_options AS redPacketVideoOptions,
      a.red_packet_video_answer AS redPacketVideoAnswer,
      a.red_packet_video_sex AS redPacketVideoSex,
      a.red_packet_video_age_start AS redPacketVideoAgeStart,
      a.red_packet_video_age_end AS redPacketVideoAgeEnd,
      a.red_packet_video_date AS redPacketVideoDate
  FROM
      zx_app_video_red_packet a
      WHERE a.red_packet_video_id = #{redPacketVideoId} AND a.red_packet_video_user_id = #{memberAccount}
  </select>

  <!--根据用户账号和红包id查询-->
  <select id="queryRedPacketInfoDetail" resultType="java.util.Map">
     SELECT
          red_packet_video_info_id AS redPacketVideoInfoId,
          red_packet_video_id AS redPacketVideoId,
          red_packet_video_user_id AS redPacketVideoUserId,
          red_packet_video_money AS redPacketVideoMoney,
          red_packet_video_luck_star AS redPacketVideoLuckStar,
          red_packet_video_date AS redPacketVideoDate
      FROM zx_app_video_red_packet_info WHERE red_packet_video_id = #{redPacketVideoId}  AND red_packet_video_user_id = #{robUserId}
        LIMIT 1
  </select>

  <!-- 返回一个随意产生的红包给用户 -->
  <select id="randomSelectRedPacketInfo" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        zx_app_video_red_packet_info.red_packet_video_info_id AS "redPacketInfoId",
        zx_app_video_red_packet_info.red_packet_video_id AS "redPacketId",
        zx_app_video_red_packet_info.red_packet_video_user_id AS "redPacketUserId",
        zx_app_video_red_packet_info.red_packet_video_money AS "redPacketMoney",
        zx_app_video_red_packet_info.red_packet_video_luck_star AS "redPacketLuckStar",
        zx_app_video_red_packet_info.red_packet_video_date AS "redPacketDate",
        UNIX_TIMESTAMP( zx_app_video_red_packet.red_packet_video_end_time ) - UNIX_TIMESTAMP( zx_app_video_red_packet.red_packet_video_start_time ) AS "timeSum"
    FROM
        zx_app_video_red_packet_info
        LEFT JOIN zx_app_video_red_packet ON zx_app_video_red_packet.red_packet_video_id = zx_app_video_red_packet_info.red_packet_video_id
    WHERE
        zx_app_video_red_packet_info.red_packet_video_id = #{redPacketVideoId}  AND zx_app_video_red_packet_info.red_packet_video_user_id IS NULL
        LIMIT 1
  </select>

  <!-- 根据红包信息ID查询出最终的红包信息 -->
  <select id="selectRedPacketInfoByInfoId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        zx_app_video_red_packet_info.red_packet_video_info_id   AS "redPacketInfoId",
        zx_app_video_red_packet_info.red_packet_video_id        AS "redPacketId",
        zx_app_video_red_packet.red_packet_video_user_id        AS "redPacketUserId",
        zx_app_video_red_packet_info.red_packet_video_user_id   AS "robRedPacUserId",
        zx_app_video_red_packet_info.red_packet_video_money     AS "redPacketMoney",
        zx_app_video_red_packet_info.red_packet_video_luck_star AS "redPacketLuckStar",
        zx_app_video_red_packet_info.red_packet_video_date      AS "redPacketDate",
        zx_app_video_red_packet.red_packet_video_stock          AS "redPacketStock",
        UNIX_TIMESTAMP(zx_app_video_red_packet.red_packet_video_end_time) - UNIX_TIMESTAMP(zx_app_video_red_packet.red_packet_video_start_time)  AS "timeSum"
      FROM zx_app_video_red_packet_info
              LEFT JOIN zx_app_video_red_packet ON zx_app_video_red_packet.red_packet_video_id = zx_app_video_red_packet_info.red_packet_video_id
      WHERE zx_app_video_red_packet_info.red_packet_video_info_id = #{redPacketInfoId}
      LIMIT 1
  </select>

  <!-- 根据当前登录人查询所抢红包 -->
  <select id="selectRedPacketInfoByRobUserId" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        b.red_packet_video_id AS redPacketId, -- 红包ID
        b.red_packet_video_user_id AS memberAccount, -- 发布红包用户ID
        b.red_packet_video_money_count AS redPacketMoneyCount, -- 红包金额
        b.red_packet_video_count AS redPacketCount,-- 红包个数
        b.red_packet_video_info AS redPacketInfo,-- 红包显示信息
                  b.red_packet_video_url AS redPacketVideoUrl, -- 红包视频链接地址
        UNIX_TIMESTAMP(b.red_packet_video_end_time) - UNIX_TIMESTAMP(b.red_packet_video_start_time)  AS timeSum, -- 抢红包总耗时
        b.red_packet_video_date AS redPacketDate,-- 发布红包时间
        a.head_img_url AS headImgUrl,-- 发布红包用户头像ID
        IFNULL(a.nickname,a.member_account) AS nickName, -- 发布红包用户昵称
        a.id AS userId -- 用户账号
    FROM
        zx_app_video_red_packet b
    LEFT JOIN t_member a ON a.member_account = b.red_packet_video_user_id
    WHERE b.red_packet_video_id IN ( SELECT red_packet_video_id FROM zx_app_video_red_packet_info
                                    WHERE red_packet_video_user_id = #{robUserId})
          AND b.red_packet_video_stock = 0
  </select>

  <!--根据图文红包id和用户id查询红包和用户信息-->
  <select id="selectUserRedPacketInfoAndRedPacketByUserId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        b.member_account AS memberAccount,-- 用户账号
        b.head_img_url AS headImgUrl,-- 头像图片链接
        IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
        c.red_packet_video_info AS redPacketInfo,-- 红包广告标语
        c.red_packet_video_count AS redPacketCount,-- 红包总个数
        c.red_packet_video_stock AS redPacketStock,-- 红包剩余个数
        c.red_packet_video_url AS redPacketVideoUrl,-- 红包视频链接地址
        UNIX_TIMESTAMP( c.red_packet_video_end_time ) - UNIX_TIMESTAMP( c.red_packet_video_start_time ) AS timeSum,-- 抢红包总耗时
        a.red_packet_video_money AS redPacketMoney,-- 抢红包金额
        a.red_packet_video_date AS redPacketDate -- 抢红包时间
    FROM
        zx_app_video_red_packet_info a
        LEFT JOIN zx_app_video_red_packet c ON c.red_packet_video_id = a.red_packet_video_id
        LEFT JOIN t_member b ON b.member_account = a.red_packet_video_user_id
    WHERE
        a.red_packet_video_user_id = #{robUserId} AND a.red_packet_video_id = #{redPacketVideoId}
        LIMIT 1
  </select>

  <!-- 根据红包id和用户id查询抢红包的详细信息,那个人抢了多少钱-->
  <select id="selectRedPacketInfoByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        b.id AS userId,-- 用户ID
        b.head_img_url AS headImgUrl,-- 头像图片链接
        IFNULL( b.nickname, b.member_account ) AS nickName,-- 昵称
        b.member_account AS memberAccount,-- 用户账号
        a.red_packet_video_money AS redPacketMoney,-- 非当前用户抢钱金额
        a.red_packet_video_luck_star AS redPacketLuckStar,-- 非当前用户是否是手气最佳
        a.red_packet_video_date AS redPacketDate -- 抢红包时间
    FROM
        zx_app_video_red_packet_info a
        LEFT JOIN t_member b ON b.member_account = a.red_packet_video_user_id
    WHERE
        a.red_packet_video_id = #{redPacketVideoId}
        AND a.red_packet_video_user_id IS NOT NULL
  </select>
  <!-- 根据红包ID查询红包详细信息 -->
  <select id="checkUserIsRobRedPacket" resultType="int">
    select COUNT(1) from zx_app_video_red_packet_info WHERE red_packet_video_id = #{redPacketVideoId,jdbcType=BIGINT}   AND red_packet_video_user_id = #{memberAccount,jdbcType=VARCHAR}
  </select>
  <!-- 查看用户抢红包成功失败信息 -->
  <select id="selectStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
      select v.red_packet_video_stock AS "redPacketStock",
             v.red_packet_video_count AS redPacketCount,
             IFNULL(s.red_packet_user_id,"0") AS "isWrong"
             from zx_app_video_red_packet v
             LEFT JOIN zx_app_video_red_packet_scrape s on v.red_packet_video_id = s.red_packet_id and #{memberAccount,jdbcType=VARCHAR} = s.red_packet_user_id
             where v.red_packet_video_id = #{redPacketVideoId,jdbcType=BIGINT}
  </select>

  <!-- 当前用户是否领取该红包 参数为 memberAccount（当前用户账号）,redPackageIds（红包Id） 返回值 -->
  <select id="selectListStockByRedPacketId" parameterType="java.util.Map" resultType="java.util.Map">
    select v.red_packet_video_id AS "redPacketId",
    v.red_packet_video_count AS "redPacketCount",
    v.red_packet_video_stock AS "redPacketStock",
    IFNULL(p.red_packet_video_user_id,"0") AS "isRobRedPacket",
    IFNULL(s.red_packet_user_id,"0") AS "isWrong"
    from zx_app_video_red_packet v
    LEFT JOIN zx_app_video_red_packet_scrape s on v.red_packet_video_id = s.red_packet_id and #{memberAccount} = s.red_packet_user_id
    LEFT JOIN zx_app_video_red_packet_info p
    on v.red_packet_video_id = p.red_packet_video_id and p.red_packet_video_user_id = #{memberAccount}
    where v.red_packet_video_id in
    <foreach item="redPacketIds" index="index" collection="redPacketIds"
             open="(" separator="," close=")"> #{redPacketIds}
    </foreach>
  </select>

  <!-- 判断是否已经答错过 -->
  <select id="isScrapeRedPacket" resultType="java.lang.Integer" parameterType="java.util.Map">
       SELECT count(1)
        FROM ${tableName} WHERE red_packet_id = #{redPacketId}  AND red_packet_user_id = #{userId}
  </select>

  <!--更新红包信息绑定用户ID-->
  <update id="updateRedPacketInfoById" parameterType="java.util.Map">
      update  zx_app_video_red_packet_info set
          red_packet_video_user_id = #{robUserId},
          red_packet_video_date = sysdate()
      where red_packet_video_info_id = #{redPacketInfoId}
  </update>

</mapper>