<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WalletMoneyInfoMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="wallet_info_id" jdbcType="BIGINT" property="walletInfoId" />
    <result column="wallet_info_user_id" jdbcType="VARCHAR" property="walletInfoUserId" />
    <result column="wallet_info_from" jdbcType="VARCHAR" property="walletInfoFrom" />
    <result column="wallet_info_add_or_minus" jdbcType="VARCHAR" property="walletInfoAddOrMinus" />
    <result column="wallet_info_money" jdbcType="DECIMAL" property="walletInfoMoney" />
    <result column="wallet_info_date" jdbcType="TIMESTAMP" property="walletInfoDate" />
  </resultMap>
  <sql id="Base_Column_List">
    wallet_info_id, wallet_info_user_id, wallet_info_from, wallet_info_add_or_minus, 
    wallet_info_money, wallet_info_date
  </sql>

  <!-- 查询用户钱包明细 -->
  <select id="queryWalletMoneyInfoList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
        a.wallet_info_id AS walletInfoId,
        a.wallet_info_add_or_minus AS addOrMinus,
        a.wallet_info_money AS walletInfoMoney,
        a.wallet_info_date AS walletInfoDate,
        a.wallet_info_from AS walletInfoFrom
    FROM
        zx_app_wallet_money_info a
    <where>
      a.wallet_info_user_id = #{memberAccount,jdbcType=VARCHAR}
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(a.wallet_info_date,'%Y-%m-%d') &gt;= #{startTime}
      </if>
    </where>
    ORDER BY a.wallet_info_date DESC
    <if test="start != null and start != '' and limit != null and limit != '' or start ==0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <select id="queryWalletMoneyInfoCount" parameterType="java.util.Map" resultType="int">
    select
        COUNT(1)
    from zx_app_wallet_money_info
    <where>
      wallet_info_user_id = #{memberAccount,jdbcType=VARCHAR}
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(wallet_info_date,'%Y-%m-%d') &gt;= #{startTime}
      </if>
    </where>
  </select>

  <insert id="saveWalletMoneyInfo" parameterType="java.util.Map">
    insert into zx_app_wallet_money_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="walletInfoId != null">
        wallet_info_id,
      </if>
      <if test="walletInfoUserId != null">
        wallet_info_user_id,
      </if>
      <if test="walletInfoFrom != null">
        wallet_info_from,
      </if>
      <if test="walletInfoAddOrMinus != null">
        wallet_info_add_or_minus,
      </if>
      <if test="walletInfoMoney != null">
        wallet_info_money,
      </if>
        wallet_info_date,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="walletInfoId != null">
        #{walletInfoId,jdbcType=BIGINT},
      </if>
      <if test="walletInfoUserId != null">
        #{walletInfoUserId,jdbcType=VARCHAR},
      </if>
      <if test="walletInfoFrom != null">
        #{walletInfoFrom,jdbcType=VARCHAR},
      </if>
      <if test="walletInfoAddOrMinus != null">
        #{walletInfoAddOrMinus,jdbcType=VARCHAR},
      </if>
      <if test="walletInfoMoney != null">
        #{walletInfoMoney,jdbcType=DECIMAL},
      </if>
        NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
    update zx_app_wallet_money_info
    <set>
      <if test="walletInfoUserId != null">
        wallet_info_user_id = #{walletInfoUserId,jdbcType=VARCHAR},
      </if>
      <if test="walletInfoFrom != null">
        wallet_info_from = #{walletInfoFrom,jdbcType=VARCHAR},
      </if>
      <if test="walletInfoAddOrMinus != null">
        wallet_info_add_or_minus = #{walletInfoAddOrMinus,jdbcType=VARCHAR},
      </if>
      <if test="walletInfoMoney != null">
        wallet_info_money = #{walletInfoMoney,jdbcType=DECIMAL},
      </if>
      <if test="walletInfoDate != null">
        wallet_info_date = #{walletInfoDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wallet_info_id = #{walletInfoId,jdbcType=BIGINT}
  </update>

</mapper>